<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="{:url('Tools/create_unreal_user')}">生成虚拟用户</a></li>
			<li><a href="{:url('Tools/fans_plus')}">粉丝增加</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('Tools/unRealUserPost')}">

            <div class="form-group">
				<label for="input-num" class="col-sm-2 control-label"><span class="form-required">*</span>数量</label>
				<div class="col-md-6 col-sm-10">
					<input type="number" class="form-control" id="input-num" name="num">
					请填写3000以内的整数
				</div>
			</div>
           
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary js-ajax-submit">执行</button>
					<a class="btn btn-default" href="javascript:history.back(-1);">{:lang('BACK')}</a>
				</div>
			</div>
            
		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>