<include file="public@header"/>
</head>
<body>
<div class="wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li><a href="{:url('LinkType/index')}">链接类型列表</a></li>
        <li><a href="{:url('LinkType/add')}">添加链接类型</a></li>
        <li class="active"><a>编辑链接类型</a></li>
    </ul>
    <form action="{:url('LinkType/editPost')}" method="post" class="form-horizontal js-ajax-form margin-top-20">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <tr>
                        <th>链接类型名称<span class="form-required">*</span></th>
                        <td>
                            <input class="form-control" type="text" style="width:400px;" name="post[name]" id="name"
                                   required value="{$result.name}" placeholder="请输入链接类型名称"/>
                        </td>
                    </tr>
                    <tr>
                        <th>链接类型CODE<span class="form-required">*</span></th>
                        <td>
                            <input class="form-control" type="text" name="post[code]" id="code" required value="{$result.code}"
                                   style="width: 400px" placeholder="请输入链接类型CODE">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="hidden" name="post[id]" value="{$result.id}"/>
                <button type="submit" class="btn btn-primary js-ajax-submit">{:lang('SAVE')}</button>
                <a class="btn btn-default" href="{:url('LinkType/index')}">{:lang('BACK')}</a>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="__STATIC__/js/admin.js"></script>
</body>
</html>