<include file="public@header"/>
</head>
<body>
<div class="wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a href="{:url('LinkType/index')}">链接类型列表</a></li>
        <li><a href="{:url('LinkType/add')}">添加链接类型</a></li>
    </ul>
    <form method="post" class="js-ajax-form margin-top-20" action="{:url('LinkType/listOrder')}">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th width="50">ID</th>
                <th>链接类型名称</th>
                <th>链接类型CODE</th>
                <th width="160">{:lang('ACTIONS')}</th>
            </tr>
            </thead>
            <tbody>
            <foreach name="result" item="vo">
                <tr>
                    <td>{$vo.id}</td>
                    <td>{$vo.name}</td>
                    <td>{$vo.code}</td>
                    <td>
                        <a class="btn btn-xs btn-primary" href="{:url('LinkType/edit',array('id'=>$vo['id']))}">{:lang('EDIT')}</a>
                        <a href="{:url('LinkType/delete',array('id'=>$vo['id']))}"
                           class="btn btn-xs btn-danger js-ajax-delete">{:lang('DELETE')}</a>
                    </td>
                </tr>
            </foreach>
            </tbody>
        </table>
    </form>

</div>
<script src="__STATIC__/js/admin.js"></script>
</body>
</html>