<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:url('lists')}">列表</a></li>
			<li class="active"><a>添加</a></li>
		</ul>
		<form method="post"  class="form-horizontal js-ajax-form  margin-top-20" action="{:url('add_or_edit')}">
			<input type="hidden" name="id" value="{$id}">
			<fieldset>

			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">快递公司名称</label>
		            <div class="col-md-6 col-sm-10">
		                <input type="text" name="name" class="form-control valid" value="{$info['name']|default=""}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">简称</label>
		            <div class="col-md-6 col-sm-10">
		                <input type="text" name="nickname" class="form-control valid" value="{$info['nickname']|default=""}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">链接</label>
		            <div class="col-md-6 col-sm-10">
		                <input type="text" name="url" class="form-control valid" value="{$info['url']|default=""}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">排序</label>
		            <div class="col-md-6 col-sm-10">
		                <input type="text" name="sort" class="form-control valid" value="{$info['sort']|default=0}">
		            </div>
		        </div>

		        <div class="form-group">
		            <label class="col-sm-2 control-label">状态</label>
		            <div class="col-md-6 col-sm-10">
		                <label class="radio-inline"><input type="radio" name="state" value="1" <notempty name="info['state']">checked </notempty>> 开启</label>
		                <label class="radio-inline"><input type="radio" name="state" value="0" <empty name="info['state']">checked </empty>> 禁用</label>
		            </div>
		        </div>

			</fieldset>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary js-ajax-submit">{:lang('ADD')}</button>
					<a class="btn btn-default" href="{:url('lists')}">{:lang('BACK')}</a>
	            </div>
			</div>
		</form>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>