<include file="public@head"/>
<title>提现中心</title>
</head>
<body style="background-color:#f3f3f3">
<include file="public@header"/>
<include file="personal:header"/>
<div class="container">
	<div class="Firstfloor clearfix">
		<div class="Leftlayout">
			<include file="personal:navigation"/>
		</div>
		<div class="rightlayout">
			<div class="clearfix">
			
				<div class="shouyez">
					<h3 class="personal_h3">
						<i class="h3_one"></i>
						提现中心
						<span>
							总{$site_info['name_votes']}:{$rs['votestotal']} <a class="icon"></a> ｜ 可提现{$site_info['name_votes']}:{$rs['votes']}
						 <a class="icon"></a>
						</span>
						
						<div class="linexi"></div>
					</h3>
					<div class="tixian-list"><a href="/home/Personal/cash_list">提现记录</a></div>
				</div>
				
			</div>
			
			<div class="schedule">
			
				<div class="exchange">
				   <i class="dotico dotico-l"></i>
				   <i class="dotico dotico-r"></i>
					 <h4>{$site_info['name_votes']}兑换RMB</h4>
					 <p class="item">
						<label>输入要提现的{$site_info['name_votes']}数</label>
						<input type="text" id="coin_z" name="coin_z" placeholder='0' class="coin_z"/>
					 </p>
					  <p class="item">
						<label>可到账金额</label>
						<span class="fu">　￥</span>
						<a id="coin_m" name="coin_m" class="fu">0</a>
					 </p>
					  <div class="item">
						<label>提现账户</label>
						<select id="account">
							<volist name="zlist" id="vo">
								<option value ="{$vo.id}">{$vo.type_account}</option>
							</volist>
						</select>
						<a href="/home/Personal/account_list" style="margin-left:10px;">账号管理</a>
					 </div>
					 <p class="btn">
						<!--<button type="submit" onclick="Personal.exchange()">
							<span>提现</span>
						</button>-->
						<button type="submit" onclick="exchange()">
							<span>提现</span>
						</button>
					 </p>
				</div>
				
				<div class="exchange-list">
					<div class="tip">
						<span>
							<strong>温馨提示：</strong>
							<em>{$rs['tips']}</em>
						<span>
					</div>
				</div>
				
			</div>
			
		</div>
  </div>
</div>
<include file="public@footer"/>
<include file="personal:footer"/>
<script>
	var uid="{$uid}";
	var token="{$token}";
	var bili="{$rs['cash_rate']}";
	$('#coin_z').on('input propertychange', function(){
		var coin_z=$('#coin_z').val();
		var coin=coin_z/bili;
		$("#coin_m").text(coin);
	})
	
	function exchange(){
		var accountid=$("#account  option:selected").val();
		var cashvote=$('#coin_z').val();
		if(!accountid || accountid==''){
			layer.msg("请输入账号");
			return;

		}
        
        if(cashvote==''){
			layer.msg("请输入提现金额");
			return;

		}
		$.ajax({
			type: "POST",
			url:'/home/Personal/edit_exchange',
			data:{
				uid:uid,
				token:token,
				accountid:accountid,
				cashvote:cashvote,
			},
			dataType:'json',
			async: false,
			error: function(){
				layer.msg("提现失败！");
			},
			success: function(data){
				layer.msg(data['msg'],{time:2000},function(){
					if(data['code']==0){
						window.location.reload();
					}
				});
			}
		});
	}
</script>
</body>
</html>