<script src="__STATIC__/js/jquery.js"></script>
<script type="text/javascript">
//全局变量
var GV = {
            ROOT: "__ROOT__/",
            WEB_ROOT: "__WEB_ROOT__/",
            JS_ROOT: "static/js/",
            APP: '{$Request.module}'/*当前应用名*/
        };
</script>
<script src="__STATIC__/js/wind.js"></script>	
<script type="text/javascript" src="__STATIC__/home/js/login.js"></script> 
<script>
    (function(){
        Wind.css('layer');
        Wind.use('layer');
    })()
</script>
<script>
$(function(){
  //打开上传视频窗口
  $('.dianji').click(function()
	{
		$("#datas").css('display','none');
		$("#modify").css('display','block');
  });  
	$('.hersquxiao').click(function()
	{
		$("#modify").css('display','none');
		$("#datas").css('display','block');
  });
  $('.hersbaocun').click(function()
	{
	  var name=$("#name").val();
	  if(name!=""&&name!="请输入新昵称")
		{ 
			if(name.length>8)
			{
				layer.alert('昵称最多为八位', 
				{
					skin: 'layui-layer-molv' //样式类名
					,closeBtn: 0,
					shift: 5,
					icon: 2,
				}, function(){
                    layer.closeAll();
				});
			}
			else
			{
				$.getJSON("/home/Personal/edit_name", {name:name},
				function(data)
				{
					if(data["state"]==0)
					{
					 	layer.alert('修改完成', 
						{
							skin: 'layui-layer-molv' //样式类名
							,closeBtn: 0,
							shift: 5,
							icon: 1
						}, function(){
							window.location.href="";
						});
					}
				});
			}
    }
	  else
	  {
			layer.alert('昵称不能为空', 
			{
				skin: 'layui-layer-molv' //样式类名
				,closeBtn: 0,
				shift: 5,
				icon: 2,
			}, function(){
			 layer.closeAll();
			});
	  }      
  });
	})
</script>  

<script type="text/javascript" src="__STATIC__/home/js/personal.js"></script> 