<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li ><a href="{:url('auth/index')}">列表</a></li>
			<li class="active"><a >{:lang('EDIT')}</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('auth/editPost2')}">
            <div class="form-group">
				<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>会员</label>
				<div class="col-md-6 col-sm-10" style="padding-top:7px;">
					{$data['userinfo']['user_nicename']} ({$data['uid']})
				</div>
			</div>
            
            <div class="form-group">
				<label for="input-real_name" class="col-sm-2 control-label"><span class="form-required">*</span>真实姓名</label>
				<div class="col-md-6 col-sm-10" style="padding-top:7px;">
					{$data['real_name']}
				</div>
			</div>
            
            <div class="form-group">
				<label for="input-mobile" class="col-sm-2 control-label"><span class="form-required">*</span>手机号码</label>
				<div class="col-md-6 col-sm-10" style="padding-top:7px;">
                    {$data['mobile']}
				</div>
			</div>
            
            <div class="form-group">
				<label for="input-cer_no" class="col-sm-2 control-label"><span class="form-required">*</span>身份证号</label>
				<div class="col-md-6 col-sm-10" style="padding-top:7px;">
					{$data['cer_no']}
				</div>
			</div>
			
			<div class="form-group">
				<label for="input-cer_no" class="col-sm-2 control-label"><span class="form-required">*</span>账户类型</label>
				<div class="col-md-6 col-sm-10" style="padding-top:7px;">
					{$data['cer_no']}
				</div>
			</div>
			
			<div class="form-group">
				<label for="input-account_bank" class="col-sm-2 control-label"><span class="form-required">*</span>所属银行</label>
				<div class="col-md-6 col-sm-10" style="padding-top:7px;">
					{$data['account_bank']}
				</div>
			</div>
			
			<div class="form-group">
				<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>姓名</label>
				<div class="col-md-6 col-sm-10" style="padding-top:7px;">
					{$data['name']}
				</div>
			</div>
			
			<div class="form-group">
				<label for="input-account" class="col-sm-2 control-label"><span class="form-required">*</span>账号</label>
				<div class="col-md-6 col-sm-10" style="padding-top:7px;">
					{$data['account']}
				</div>
			</div>
			
			<div class="form-group">
				<label for="input-account" class="col-sm-2 control-label"><span class="form-required">*</span>退款保证金金额</label>
				<div class="col-md-6 col-sm-10" style="padding-top:7px;">
					￥{$data['pay_num']}
				</div>
			</div>
            
            <div class="form-group">
				<label for="input-trade_no" class="col-sm-2 control-label"><span class="form-required">*</span>退款状态</label>
				<div class="col-md-6 col-sm-10">
					<select class="form-control" name="status">
                        <option value="0" <eq name="data['status']" value="0">selected</eq>>未退款</option>
                        <option value="1" <eq name="data['status']" value="1">selected</eq>>已退款</option>
                    </select>
				</div>
			</div>

            <div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<input type="hidden" name="uid" value="{$data.uid}" />
					<input type="hidden" name="id" value="{$data.id}" />
					<eq name="data['status']" value="">
					<button type="submit" class="btn btn-primary js-ajax-submit">{:lang('EDIT')}</button>
					</eq>
					<a class="btn btn-default" href="javascript:history.back(-1);">{:lang('BACK')}</a>
				</div>
			</div>

		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
	<script>
	    function checkstatus(id,type){
	        $.ajax({
	            url:"/admin/auth/checkstatus",
	            type:"POST",
	            data:{id:id,type:type},
	            success: function(result){
	                if (result.code == 1){
	                    if (type == 1){
	                        $(".p"+id).find(".statusname").html(result.info.statusname)
	                        $(".p"+id).find(".paytime").html(result.info.paytime)
	                    }else if (type == 2){
	                        $(".r"+id).find(".statusname").html(result.info.statusname)
	                        $(".r"+id).find(".refundtime").html(result.info.refundtime)
	                    }
	                }
	            }
	        })
	    }
	</script>
</body>
</html>