<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >列表</a></li>
            <li><a href="{:url('auth/index2')}">退款申请列表</a></li>
		</ul>
		<form class="well form-inline margin-top-20" method="post" action="{:url('auth/index')}">
            审核状态：
            <select class="form-control" name="status">
				<option value="">全部</option>
                <volist name="status" id="v">
                    <option value="{$key}" <if condition="input('request.status') neq '' && input('request.status') eq $key">selected</if>>{$v}</option>
                </volist>
			</select>
			提交时间：
			<input class="form-control js-bootstrap-date" name="start_time" id="start_time" value="{:input('request.start_time')}" aria-invalid="false" style="width: 110px;"> - 
            <input class="form-control js-bootstrap-date" name="end_time" id="end_time" value="{:input('request.end_time')}" aria-invalid="false" style="width: 110px;">
            用户ID：
            <input class="form-control" type="text" name="uid" style="width: 200px;" value="{:input('request.uid')}"
                   placeholder="请输入会员ID、靓号">
			关键字： 
            <input class="form-control" type="text" name="keyword" style="width: 200px;" value="{:input('request.keyword')}"
                   placeholder="请输入姓名、手机">
			<input type="submit" class="btn btn-primary" value="搜索">
		</form>				
		<form method="post" class="js-ajax-form" >
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>会员ID</th>
						<th>会员</th>						
						<th>真实姓名</th>
						<th>手机号码</th>
						<th>身份证号</th>
						<th>审核状态</th>
						<th>提交时间</th>
						<th>处理时间</th>
						<th>{:lang('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="vo">
					<tr>
						<td>{$vo.uid}</td>
						<td>{$vo['userinfo']['user_nicename']} </td>	
						<td>{$vo['real_name']}</td>
						<td>{$vo['mobile']}</td>				
						<td>{$vo['cer_no']}</td>				
						<td>{$vo['realstatus']}</td>
						<td>{:date('Y-m-d H:i',$vo['addtime'])}</td>						
						<td>
                        <if condition="$vo['status'] eq '0'" >
                            处理中
                        <else/>
                             {:date('Y-m-d H:i',$vo['uptime'])}
                        </if>						
                        </td>

						<td>	
                            <a class="btn btn-xs btn-primary" href='{:url("auth/edit",array("uid"=>$vo["uid"]))}'>{:lang('EDIT')}</a>
							<a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('auth/del',array('uid'=>$vo['uid']))}">{:lang('DELETE')}</a>
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>

		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>