<include file="public@header" />
</head>
<body>
<div class="wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a href="{:url('gameclass/index')}">分类列表</a></li>
        <li><a href="{:url('gameclass/add')}">添加分类</a></li>
    </ul>
    <div>
        跳转方式：“1”跳转内部webview; “2”跳转系统浏览器<br>
        显示状态：“1”显示; “2”不显示<br>
        携带参数：是否携带uid和token 0携带；1不携带<br>

    </div>
    <table class="table table-hover table-bordered margin-top-20">
        <thead>
        <tr>
            <th width="50">ID</th>
            <th>名字</th>
            <th>图标</th>
            <th>跳转地址</th>
            <th>跳转方式</th>
            <th>显示状态</th>
            <th>是否携带uid</th>
            <th width="160">{:lang('ACTIONS')}</th>
        </tr>
        </thead>

        <php>

        </php>

        <tbody>
        <foreach name="lists" item="vo">
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.name}</td>
                <td><img width="50" height="50" src="{$vo['thumb']}" /></td>
                <td>{$vo.url}</td>
                <td>
                    {$vo.type}
                </td>
                <td>{$vo.status}</td>
                <td>{$vo.if_uid}</td>
                <td>


                    <a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('gameclass/delete',array('id'=>$vo['id']))}">{:lang('DELETE')}</a>
                </td>
            </tr>
        </foreach>
        </tbody>
    </table>
</div>
<script src="__STATIC__/js/admin.js"></script>
</body>
</html>