<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:url('lists')}">列表</a></li>
			<li class="active"><a>添加</a></li>
		</ul>
		<form method="post"  class="form-horizontal js-ajax-form  margin-top-20" action="{:url('add_or_edit')}">
			<input type="hidden" name="id" value="{$id}">
			<if condition="empty($id)">
			<input type="hidden" name="application_time" value="{:time()}">
			</if>
			<fieldset>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">店铺名称</label>
		            <div class="col-md-6 col-sm-10">
		                <input type="text" name="name" class="form-control valid" value="{$info['name']|default=""}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">店铺描述</label>
		            <div class="col-md-6 col-sm-10">
		                <textarea name="description" class="form-control valid">{$info['description']|default=''}</textarea>
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">主播id</label>
		            <div class="col-md-6 col-sm-10">
		                <input type="text" name="uid" class="form-control valid" value="{$info['uid']|default=''}" <notempty name='id'>readonly</notempty>>
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">类目</label>
		            <div class="col-md-6 col-sm-10">
		            	<select <if condition="!empty($id)">disabled</if> class="form-control" name="assort_id">
	            			<foreach name="assort_info" item="vo">
		            			<option <if condition="isset($info['assort_id']) && $info['assort_id'] eq $vo.id">selected</if> value="{$vo.id}">{$vo.name}</option>
			                </foreach>
		            	</select>
		            </div>
		        </div>
				<div class="form-group">
					<label for="input-avatar_thumb" class="col-sm-2 control-label">头像/封面</label>
					<div class="col-md-6 col-sm-10">
	                    <input type="hidden" name="shop_img" id="shop_img" value="{$info['shop_img']|default='/default_thumb.jpg'}">
	                    <a href="javascript:uploadOneImage('图片上传','#shop_img');">
	                        <img src="{$info['shop_img']|default='/default_thumb.jpg'}" id="shop_img-preview" style="cursor: pointer;max-width:100px;max-height:100px;"/>
	                    </a>
	                    <input type="button" class="btn btn-sm btn-cancel-shop_img" value="取消图片">
					</div>
				</div>
		        <div class="form-group">
					<label for="input-avatar_thumb" class="col-sm-2 control-label">营业执照</label>
					<div class="col-md-6 col-sm-10">
	                    <input type="hidden" name="certificate_img" id="certificate_img" value="{$info['certificate_img']|default=''}">
	                    <a href="javascript:uploadOneImage('图片上传','#certificate_img');">
	                        <img src="{$qiniuurl}{$info['certificate_img']|default='/default_thumb.jpg'}" id="certificate_img-preview" style="cursor: pointer;max-width:100px;max-height:100px;"/>
	                    </a>
	                    <input type="button" class="btn btn-sm btn-cancel-certificate_img" value="取消图片">
					</div>
				</div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">排序</label>
		            <div class="col-md-6 col-sm-10">
		                <input type="text" name="sort" class="form-control valid" value="{$info['sort']|default=0}">
		            </div>
		        </div>


		        <div class="form-group">
		            <label class="col-sm-2 control-label">状态</label>
		            <div class="col-md-6 col-sm-10">
		            	<present name="info['state']">
			                <label class="radio-inline"><input type="radio" name="state" value="1" <eq name="info['state']" value="1">checked</eq>> 开启</label>
			                <label class="radio-inline"><input type="radio" name="state" value="0" <eq name="info['state']" value="0">checked</eq>> 禁用</label>
			                <label class="radio-inline"><input type="radio" name="state" value="2" <eq name="info['state']" value="2">checked</eq>> 取消</label>
		                <else />
							<label class="radio-inline"><input type="radio" name="state" value="1" checked> 开启</label>
			                <label class="radio-inline"><input type="radio" name="state" value="0" > 禁用</label>
		                </present>
		            </div>
		        </div>

				<present name="type">
				    <div class="form-group">
			            <label for="input-remark" class="col-sm-2 control-label">审核不通过说明</label>
			            <div class="col-md-6 col-sm-10">
			                <input type="text" name="text" class="form-control valid" value="{$info['text']|default=''}">
			            </div>
			        </div>
				</present>
			</fieldset>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary js-ajax-submit">{:lang('ADD')}</button>
					<a class="btn btn-default" href="{:url('lists')}">{:lang('BACK')}</a>
	            </div>
			</div>
		</form>
	</div>
	<script src="/static/js/admin.js"></script>
	<script type="text/javascript">
        (function(){
            $('.btn-cancel-thumb_images').click(function () {
                $('#thumb_images-preview').attr('src', '__TMPL__/public/assets/images/default-thumbnail.png');
                $('#thumb_images').val('');
            });
            $('.btn-cancel-shop_img').click(function () {
                $('#shop_img-preview').attr('src', '__TMPL__/public/assets/images/default-thumbnail.png');
                $('#shop_img').val('');
            });
        })()

    </script>
</body>
</html>