<include file="public@header" />
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li <empty name="Request.param.type"> class="active"</empty>><a href="{:url('index')}">所有列表</a></li>
			<li <eq name="Request.param.type" value="10"> class="active"</eq>><a href="{:url('index', ['type'=>10])}">取消列表</a></li>
			<li <eq name="Request.param.type" value="20"> class="active"</eq>><a href="{:url('index', ['type'=>20])}">待发货列表</a></li>
			<li <eq name="Request.param.type" value="30"> class="active"</eq>><a href="{:url('index', ['type'=>30])}">待收货列表</a></li>
			<li <eq name="Request.param.type" value="40"> class="active"</eq>><a href="{:url('index', ['type'=>40])}">退货/退款申请列表</a></li>
			<li <eq name="Request.param.type" value="41"> class="active"</eq>><a href="{:url('index', ['type'=>41])}">已退货/已退款列表</a></li>
			<li <eq name="Request.param.type" value="42"> class="active"</eq>><a href="{:url('index', ['type'=>42])}">等待买家退货列表</a></li>
			<li <eq name="Request.param.type" value="43"> class="active"</eq>><a href="{:url('index', ['type'=>43])}">等待退货收货列表</a></li>
			<li <eq name="Request.param.type" value="50"> class="active"</eq>><a href="{:url('index', ['type'=>50])}">待评价列表</a></li>
			<li <eq name="Request.param.type" value="60"> class="active"</eq>><a href="{:url('index', ['type'=>60])}">已评价列表</a></li>
		</ul>
		<form class="well form-inline margin-top-20" name="form1" method="post" action="">
			<input type="button" class="btn btn-success" value="导出待发货订单" onclick="form1.action='/merchant/order/export.html';form1.submit();"/>
		</form>
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th width="50">ID</th>
					<th>订单编号</th>
					<th>用户</th>
					<th>订单金额</th>
					<th>订单状态</th>
					<th>下单时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<foreach name="list" item="vo">
				<tr>
					<td>{$vo.id}</td>
					<td>{$vo.numbering}</td>
					<td>{$vo.user_nicename}</td>
					<td>{$vo.payment_amount}</td>
					<td>{$vo.statename}</td>
					<td>{$vo.addtime}</td>
					<td>
						<a href="{:url('views',array('id'=>$vo['id']))}" >查看详情</a>
						<egt name="vo['state']" value="20">
							<a href="{:url('ship',array('id'=>$vo['id']))}" ><empty name="vo['logistics_id']">发货<else />查看发货</empty></a>
						</egt>
						<in name="vo['state']" value="40,41,42,43">
							<a href="{:url('refundinfo',array('id'=>$vo['id']))}" >查看退款/退货</a>
						</in>
						<eq name="vo['state']" value="60">
							<a href="{:url('reply',array('id'=>$vo['id']))}"><eq name="vo['is_reply']" value="0">回复<else />查看回复</eq></a>
						</eq>
					</td>
				</tr>
				</foreach>
			</tbody>
		</table>
		<div class="pagination">{$page}</div>
	</div>
	<script src="/static/js/admin.js"></script>
</body>
</html>