<include file="public@header" />
</head>
<style type="text/css">
	.controls tr td{
		text-align: center;
	}
</style>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:url('index')}">所有列表</a></li>
			<li><a href="{:url('index', ['type'=>10])}">取消列表</a></li>
			<li><a href="{:url('index', ['type'=>20])}">待发货列表</a></li>
			<li><a href="{:url('index', ['type'=>30])}">待收货列表</a></li>
			<li><a href="{:url('index', ['type'=>40])}">退货/退款申请列表</a></li>
			<li><a href="{:url('index', ['type'=>41])}">已退货/已退款列表</a></li>
			<li><a href="{:url('index', ['type'=>42])}">等待买家退货列表</a></li>
			<li><a href="{:url('index', ['type'=>43])}">等待退货收货列表</a></li>
			<li><a href="{:url('index', ['type'=>50])}">待评价列表</a></li>
			<li><a href="{:url('index', ['type'=>60])}">已评价列表</a></li>
			<li class="active"><a>查看</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('refund')}">
			<input class="form-control valid" type="hidden" name="id" value="{$info['id']}">
			<fieldset>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">退款原因</label>
		            <div class="col-md-6 col-sm-10">
						<input class="form-control valid" type="text" name="refund_info_id" value="{$shop_refund_info[$refund['refund_info_id']]['title']|default=""}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">退款说明</label>
		            <div class="col-md-6 col-sm-10">
						<input class="form-control valid" type="text" name="info" value="{$refund['info']|default=""}">
		            </div>
		        </div>
		        <notempty name="refund['img']" >
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">退款图片</label>
		            <div class="col-md-6 col-sm-10">
		            	<volist name="refund['img']" id="vo">
						<a href="{$vo}" target="_blank">{$vo}</a><br>
						</volist>
		            </div>
		        </div>
		        </notempty>
				<div class="form-group">
	                <label for="input-live_sdk" class="col-sm-2 control-label">模式选择</label>
	                <div class="col-md-6 col-sm-10" id="sdk">
	                    <label class="radio-inline"><input type="radio" value="1" name="state" <in name="refund['state']" value="0,1">checked="checked"</in>>通过</label>
						<label class="radio-inline"><input type="radio" value="2" name="state" <eq name="refund['state']" value="2">checked="checked"</eq>>不通过</label>
	                </div>
	            </div>
	            <eq name="refund['order_state']" value="30">
	                <div class="state_tab2">
    	                <div class="form-group">
        	                <label for="input-live_sdk" class="col-sm-2 control-label">收件人姓名</label>
        	                <div class="col-md-6 col-sm-10" id="sdk">
        	                    <input class="form-control valid" type="text" name="receive_name" placeholder="请填写姓名" value="">
        	                </div>
        	            </div>
        	            <div class="form-group">
        	                <label for="input-live_sdk" class="col-sm-2 control-label">收件人电话</label>
        	                <div class="col-md-6 col-sm-10" id="sdk">
        	                    <input class="form-control valid" type="text" name="receive_tel" placeholder="请填写电话" value="">
        	                </div>
        	            </div>
        	            <div class="form-group">
        	                <label for="input-live_sdk" class="col-sm-2 control-label">收件人地址</label>
        	                <div class="col-md-6 col-sm-10" id="sdk">
        	                    <input class="form-control valid" type="text" name="receive_address" placeholder="请填写地址" value="">
        	                </div>
        	            </div>
    	            </div>
	            </eq>
	            <div class="state_tab" style="display:none;">
				    <div class="form-group">
			            <label for="input-remark" class="col-sm-2 control-label">取消退款原因</label>
			            <div class="col-md-6 col-sm-10">
							<select class="form-control" name="refund_info_id2">
								<volist name="shop_refund_info" id="vo">
									<eq name="vo['type']" value="0">
	                                <option value="{$vo.id}">{$vo.title}</option>
	                                </eq>
                                </volist>
                            </select>
                        </div>
			        </div>
				    <div class="form-group">
			            <label for="input-remark" class="col-sm-2 control-label">取消退款说明</label>
			            <div class="col-md-6 col-sm-10">
							<input class="form-control valid" type="text" name="info2" value="{$refund['info2']|default=""}">
			            </div>
			        </div>
	            </div>

			</fieldset>
			
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
				    <eq name="info['state']" value="40" >
					    <button type="submit" class="btn btn-primary js-ajax-submit">确认</button>
					</eq>
					<eq name="info['state']" value="43" >
					    <button type="submit" class="btn btn-primary js-ajax-submit">确认收货</button>
					</eq>
					<a class="btn btn-default" href="{:url('index')}">{:lang('BACK')}</a>
	            </div>
			</div>
		</form>
	</div>
	<script src="/static/js/admin.js"></script>
	<script type="text/javascript">

		if(2 == '{$refund['state']|default=1}')
		{
			$('.state_tab').show();
		}
		
		$(document).on('click', 'input[name=state]',function(){
			if(2 == $(this).val())
			{
				$('.state_tab').show();
				$('.state_tab2').hide();
			}
			else
			{
				$('.state_tab').hide();
				$('.state_tab2').show();
			}
		})
	</script>
</body>
</html>