<include file="public@header" />
</head>
<style type="text/css">
	.controls tr td{
		text-align: center;
	}
</style>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:url('index')}">所有列表</a></li>
			<li><a href="{:url('index', ['type'=>10])}">取消列表</a></li>
			<li><a href="{:url('index', ['type'=>20])}">待发货列表</a></li>
			<li><a href="{:url('index', ['type'=>30])}">待收货列表</a></li>
			<li><a href="{:url('index', ['type'=>40])}">退货/退款申请列表</a></li>
			<li><a href="{:url('index', ['type'=>41])}">已退货/已退款列表</a></li>
			<li><a href="{:url('index', ['type'=>50])}">待评价列表</a></li>
			<li><a href="{:url('index', ['type'=>60])}">已评价列表</a></li>
			<li class="active"><a>查看</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('reply')}">
			<input type="hidden" name="id" value="{$info['id']}">
			<fieldset>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">用户</label>
		            <div class="col-md-6 col-sm-10">
						<input class="form-control valid" type="text" name="username" value="{$username|default=""}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">订单编号</label>
		            <div class="col-md-6 col-sm-10">
						<input class="form-control valid" type="text" name="numbering" value="{$order['numbering']|default=""}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">评价星级</label>
		            <div class="col-md-6 col-sm-10">
						<input class="form-control valid" type="text" name="rating" value="{$info['rating']|default=5}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">评价内容</label>
		            <div class="col-md-6 col-sm-10">
						<textarea class="form-control valid" name="content">{$info['content']|default=""}</textarea>
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">评价图片</label>
		            <div class="col-md-6 col-sm-10">
						<volist name="info['img']" id="vo">
							<a href="{$vo}" target="_blank">{$vo}</a><br/>
						</volist>
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">评价时间</label>
		            <div class="col-md-6 col-sm-10">
						{$info['addtime']|default=""}
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">回复内容</label>
		            <div class="col-md-6 col-sm-10">
						<textarea class="form-control valid" name="reply_content">{$info['reply_content']|default=""}</textarea>
		            </div>
		        </div>




				<eq name="order['is_reply']" value="1">
				    <div class="form-group">
			            <label for="input-remark" class="col-sm-2 control-label">回复时间</label>
			            <div class="col-md-6 col-sm-10">
							{$info['reply_time']|default=""}
			            </div>
			        </div>
				</eq>

				
			</fieldset>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary js-ajax-submit">{:lang('ADD')}</button>
					<a class="btn btn-default" href="{:url('index')}">{:lang('BACK')}</a>
	            </div>
			</div>
		</form>
	</div>
	<script src="/static/js/admin.js"></script>
</body>
</html>