<include file="public@header" />
</head>
<style type="text/css">
	.controls tr td{
		text-align: center;
	}
</style>
<style type="text/css">
	.jiben div div{
		min-height: 30px;
	}
	ul{
		padding-left: 0px;
	}
	ul li{
		list-style: none;
		height: 30px;
		line-height: 30px;
	}
	table tr td{
		text-align: center;
	}
	.select_logistics_list{
		width: 96.5%;
		height:100px;
		position:absolute;
		overflow-y: auto;
		border: 1px solid #ccc;
		top: 35px;
		border-top: none;
		display: none;
		z-index: 999;
    	background: #fff;
		padding: 0px;
	}
	.select_logistics_list li{
		text-indent: 5px;
		cursor: pointer;
		border-bottom: 1px solid #ccc;
	}
</style>
<body>
	<div class="wrap jiben">
		<ul class="nav nav-tabs">
			<li><a href="{:url('index')}">所有列表</a></li>
			<li><a href="{:url('index', ['type'=>10])}">取消列表</a></li>
			<li><a href="{:url('index', ['type'=>20])}">待发货列表</a></li>
			<li><a href="{:url('index', ['type'=>30])}">待收货列表</a></li>
			<li><a href="{:url('index', ['type'=>40])}">退货/退款申请列表</a></li>
			<li><a href="{:url('index', ['type'=>41])}">已退货/已退款列表</a></li>
			<li><a href="{:url('index', ['type'=>50])}">待评价列表</a></li>
			<li><a href="{:url('index', ['type'=>60])}">已评价列表</a></li>
			<li class="active"><a>查看</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('ship')}">
			<input type="hidden" name="id" value="{$info['id']}">
			<fieldset>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">订单编号</label>
		            <div class="col-md-6 col-sm-10">
						<input class="form-control valid" type="text" name="numbering" value="{$info['numbering']|default=''}" disabled="">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">收货人</label>
		            <div class="col-md-6 col-sm-10">
						<input class="form-control valid" type="text" name="name" value="{$info['name']|default=''}" disabled="">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">收货手机号码</label>
		            <div class="col-md-6 col-sm-10">
						<input class="form-control valid" type="text" name="phone" value="{$info['phone']|default=''}" disabled="">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">收货地址</label>
		            <div class="col-md-6 col-sm-10">
						<input class="form-control valid" type="text" name="areainfo" value="{$info['areainfo']|default=''}" disabled="">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">快递公司</label>
		            <div class="col-md-6 col-sm-10 controls"  style="position: relative;">
						<input type="hidden" name="logistics_id" class="logistics_id form-control valid" value="{$info['logistics_id']|default=0}">
		                <input type="text" name="select_logistics" class="form-control valid"  id='select_logistics' value="{$info['logistics_name']|default=''}">
		                <ul class="select_logistics_list form-control valid"></ul>
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">快递单号</label>
		            <div class="col-md-6 col-sm-10">
						<input class="form-control valid" type="text" name="single_number" value="{$info['single_number']|default=''}">
		            </div>
		        </div>
			</fieldset>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<empty name="info['logistics_id']">
						<button type="submit" class="btn btn-primary js-ajax-submit">{:lang('ADD')}</button>
					</empty>
					<a class="btn btn-default" href="{:url('index')}">{:lang('BACK')}</a>
	            </div>
			</div>
		</form>
	</div>
	<script src="/static/js/admin.js"></script>
	<script type="text/javascript">
	var shop_logistics = {$shop_logistics};
	$('#select_logistics').on('click',function(){
		var html = '';
		for (var i = 0; i < shop_logistics.length; i++) 
		{
			html += '<li data-id='+shop_logistics[i].id+'>'+shop_logistics[i].name+'</li>';
		}
		$('.select_logistics_list').html(html);
		$('.select_logistics_list').show();
	});
	$(document).on('click', '.select_logistics_list li',function(){
		$('.logistics_id').val($(this).attr('data-id'));
		$('#select_logistics').val($(this).html());
		$('.select_logistics_list').hide();
	})
	$('#select_logistics').bind('input propertychange', function() {
		var val = $(this).val();
		var html = '';
		for (var i = 0; i < shop_logistics.length; i++) 
		{
			if(shop_logistics[i].name.indexOf(val) >= 0)
			{
				html += '<li data-id='+shop_logistics[i].id+'>'+shop_logistics[i].name+'</li>';
			}
		}
		$('.select_logistics_list').html(html);
	});
	$(document).on('click', '.baocunj',function(){
		var logistics_id = $('.logistics_id').val();
		if(logistics_id <= 0)
		{
			layer.msg("请选择快递公司");return;
		}

		var single_number = $('.single_number').val();
		if(single_number.length > 100 || single_number.length <= 0)
		{
			layer.msg("快递单号的字符长度应在1~100位之间");return;
		}
		$.ajax({
		   	url:'{:url('order_single')}',
		   	type:'post',
	     	dataType:'json',
		   	data:{logistics_id:logistics_id,single_number:single_number,order_id:{$info['id']}},
		   	success:function(data){
		      	if('error' == data[0])
		      	{
		      		layer.msg(data[1]);return;
		      	}
		      	layer.msg(data[1],{ time: 2000 },function(){
		      		location.reload();
		      	});
		      	
		   	},
		   	error:function(error){
		      	layer.msg("保存失败");return;
			}
		})
	})
	</script>
</body>
</html>