<include file="public@header" />
</head>
<style type="text/css">
	.controls tr td{
		text-align: center;
	}
</style>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:url('index')}">所有列表</a></li>
			<li><a href="{:url('index', ['type'=>10])}">取消列表</a></li>
			<li><a href="{:url('index', ['type'=>20])}">待发货列表</a></li>
			<li><a href="{:url('index', ['type'=>30])}">待收货列表</a></li>
			<li><a href="{:url('index', ['type'=>40])}">退货/退款申请列表</a></li>
			<li><a href="{:url('index', ['type'=>41])}">已退货/已退款列表</a></li>
			<li><a href="{:url('index', ['type'=>50])}">待评价列表</a></li>
			<li><a href="{:url('index', ['type'=>60])}">已评价列表</a></li>
			<li class="active"><a>查看</a></li>
		</ul>
		
		<form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('add_or_edit')}">
			<fieldset>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">用户</label>
		            <div class="col-md-6 col-sm-10">
						<input class="form-control valid" type="text" name="shop_name" value="{$info['user_nicename']|default=""}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">订单编号</label>
		            <div class="col-md-6 col-sm-10">
						<input class="form-control valid" type="text" name="numbering" value="{$info['numbering']|default=""}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">订单金额</label>
		            <div class="col-md-6 col-sm-10">
						<input class="form-control valid" type="text" name="original_price" value="{$info['original_price']|default=""}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">优惠金额</label>
		            <div class="col-md-6 col-sm-10">
						<input class="form-control valid" type="text" name="discount" value="{$info['discount']|default=0}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">支付金额</label>
		            <div class="col-md-6 col-sm-10">
						<input class="form-control valid" type="text" name="payment_amount" value="{$info['payment_amount']|default=0}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">支付方式</label>
		            <div class="col-md-6 col-sm-10">
						<eq name="info['is_pay_type']" value="1">微信<else />支付宝</eq>
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">商品列表</label>
		            <div class="col-md-6 col-sm-10">
						<table width="100%">
							<tr><th>商品图片</th><th>商品名称</th><th>商品单价</th><th>购买数量</th></tr>
							<volist name="list" id="vo">
								<tr>
									<td><img src="{$vo['img']}" width="100px"></td>
									<td>{$vo['title']}</td>
									<td>{$vo['price']}</td>
									<td>{$vo['num']}</td>
								</tr>
							</volist>
						</table>
		            </div>
		        </div>


			</fieldset>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a class="btn btn-default" href="{:url('index')}">{:lang('BACK')}</a>
	            </div>
			</div>
		</form>
	</div>
	<script src="/static/js/admin.js"></script>
</body>
</html>