<include file="public@header" />
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="{:url('lists')}">列表</a></li>
		</ul>
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th width="50">ID</th>
					<th>店铺名称</th>
					<th>优惠金额</th>
					<th>使用金额</th>
					<th>开始领取时间</th>
					<th>结束领取时间</th>
					<th>开始使用时间</th>
					<th>结束使用时间</th>
					<th>数量</th>
				</tr>
			</thead>
			<tbody>
				<foreach name="list" item="vo">
				<tr>
					<td>{$vo.id}</td>
					<td>{$vo.name}</td>
					<td>{$vo.discounted_price}</td>
					<td>{$vo.use_amount}</td>
					<td>{$vo.receive_start_time|date="Y-m-d H:i:s"}</td>
					<td>{$vo.receive_end_time|date="Y-m-d H:i:s"}</td>
					<td>{$vo.start_time|date="Y-m-d H:i:s"}</td>
					<td>{$vo.end_time|date="Y-m-d H:i:s"}</td>
					<td>{$vo.num}</td>
				</tr>
				</foreach>
			</tbody>
		</table>
		<div class="pagination">{$page}</div>
	</div>
	<script src="/static/js/admin.js"></script>
</body>
</html>