<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >列表</a></li>
			<li><a href="{:url('Musiccat/add')}">{:lang('ADD')}</a></li>
		</ul>
		<form class="well form-inline margin-top-20" method="post" action="{:url('Musiccat/index')}">
			关键字： 
            <input class="form-control" type="text" name="keyword" style="width: 200px;" value="{:input('request.keyword')}"
                   placeholder="请输入分类名称">
			<input type="submit" class="btn btn-primary" value="搜索">
		</form>
		<form method="post" class="js-ajax-form" action="{:url('Musiccat/listOrder')}">
			<div class="table-actions">
                <button class="btn btn-primary btn-sm js-ajax-submit" type="submit">{:lang('SORT')}</button>
            </div>
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>序号</th>
						<th>ID</th>
						<th>分类名称</th>
						<th>分类图标</th>
						<th>添加时间</th>
						<th>修改时间</th>
						<th>是否删除</th>
						<th>{:lang('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="vo">
					<tr>
						<td><input name="list_orders[{$vo.id}]" class="input-order" type="text" value="{$vo.list_order}"></td>
						<td>{$vo.id}</td>
						<td>{$vo['title']}</td>
						<td><img src="{$vo['img_url']}" width="50px" height="50px"></td>
						<td>{:date('Y-m-d H:i',$vo['addtime'])}</td>
						<td><if condition="$vo['updatetime'] neq '0'">{:date('Y-m-d H:i',$vo['updatetime'])}<else />--</if></td>
						<td>{$isdel[$vo['isdel']]}</td>
						<td align="center">
                            <a class="btn btn-xs btn-primary" href='{:url("Musiccat/edit",array("id"=>$vo["id"]))}'>{:lang('EDIT')}</a>
							<if condition="$vo['isdel'] eq '0'">
							<a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('Musiccat/del',array('id'=>$vo['id']))}">{:lang('DELETE')}</a>
							<else />
                            <a class="btn btn-xs btn-info js-ajax-dialog-btn" href="{:url('Musiccat/canceldel',array('id'=>$vo['id']))}" >取消删除</a>
							</if>
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>
		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>