<include file="public@header" />
</head>
<body>
	<div class="wrap js-check-wrap">

		<ul class="nav nav-tabs">
			<li class="active"><a>配置</a></li>
            <li><a href="{:url('Jackpot/index')}">奖池等级</a></li>
		</ul>
		
        <form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('Jackpot/setPost')}">
            <fieldset>
                <div class="tabbable">
                    <div class="tab-content">
                        <div class="tab-pane active" id="A">
                            <div class="form-group">
                                <label for="input-switch" class="col-sm-2 control-label">奖池开关</label>
                                <div class="col-md-6 col-sm-10">
                                    <select class="form-control" name="post[switch]">
                                        <option value="0">关闭</option>
                                        <option value="1" <eq name="config['switch']" value="1">selected</eq>>开启</option>
                                    </select>
                                </div>
                            </div>
                            
                            
                            <div class="form-group">
                                <label for="input-luck_anchor" class="col-sm-2 control-label"><span class="form-required">*</span>幸运礼物-主播比例</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-luck_anchor" name="post[luck_anchor]" value="{$config.luck_anchor|default='1'}">%
                                </div> 
                            </div>
                            
                            <div class="form-group">
                                <label for="input-luck_jackpot" class="col-sm-2 control-label"><span class="form-required">*</span>幸运礼物-奖池比例</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" class="form-control" id="input-luck_jackpot" name="post[luck_jackpot]" value="{$config.luck_jackpot|default='1'}">%
                                </div> 
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary js-ajax-submit" data-refresh="1">
                                        {:lang('SAVE')}
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </fieldset>
        </form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>