<include file="public@header"/>
</head>
<body>
<div class="wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li><a href="{:url('SlideItem/index',['slide_id'=>$slide_id])}">幻灯片页面列表</a></li>
        <li><a href="{:url('SlideItem/add',['slide_id'=>$slide_id])}">添加幻灯片页面</a></li>
        <li class="active"><a>编辑幻灯片页面</a></li>
    </ul>
    <form action="{:url('SlideItem/editPost')}" method="post" class="form-horizontal js-ajax-form margin-top-20">
        <div class="row">
            <div class="col-md-9">
                <table class="table table-bordered">
                    <tr>
                        <th><span class="form-required">*</span>标题</th>
                        <td>
                            <input class="form-control" type="text" style="width:400px;" name="post[title]" id="title"
                                   required value="{$result.title}" placeholder="请输入标题"/>
                        </td>
                    </tr>
                    <tr>
                        <th>链接类型</th>
                        <td>
                            <select class="form-control" style="width: 400px;" name="post[target]">
                                <option value="">自定义链接</option>
                                <foreach name="linkTypes" item="vo">
                                    <php>$link_target_selected=$result['target']==$vo['code']?"selected='selected'":"";</php>
                                    <option value="{$vo['code']}" {$link_target_selected}>{$vo['name']}</option>
                                </foreach>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>链接</th>
                        <td>
                            <input class="form-control" type="text" name="post[url]" id="keywords" value="{$result.url}"
                                   style="width: 400px" placeholder="请输入链接">
                        </td>
                    </tr>
                    <tr>
                        <th>描述</th>
                        <td><input class="form-control" type="text" name="post[description]" id="source"
                                   value="{$result.description}" style="width: 400px" placeholder="请输入描述"></td>
                    </tr>
                    <tr>
                        <th>幻灯片内容</th>
                        <td>
                            <textarea class="form-control" name="post[content]" id="description"
                                      style="width: 47%; height: 100px;"
                                      placeholder="请填写幻灯片内容">{$result.content}</textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-3">
                <table class="table table-bordered">
                    <tr>
                        <th><b>缩略图</b></th>
                    </tr>
                    <tr>
                        <td>
                            <div style="text-align: center;">
                                <input type="hidden" name="post[image]" id="thumb" value="{$result.image|default=''}">
                                <a href="javascript:uploadOneImage('图片上传','#thumb');">
                                    <if condition="empty($result['image'])">
                                        <img src="__TMPL__/public/assets/images/default-thumbnail.png"
                                             id="thumb-preview" width="135" style="cursor: hand"/>
                                        <else/>
                                        <img src="{:cmf_get_image_preview_url($result['image'])}" id="thumb-preview"
                                             width="135" style="cursor: hand"/>
                                    </if>
                                </a>
                                <input type="button" class="btn btn-sm"
                                       onclick="$('#thumb-preview').attr('src','__TMPL__/public/assets/images/default-thumbnail.png');$('#thumb').val('');return false;"
                                       value="取消图片">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="hidden" name="post[id]" value="{$result.id}"/>
                <input type="hidden" name="post[slide_id]" value="{$slide_id}">
                <button type="submit" class="btn btn-primary js-ajax-submit">{:lang('SAVE')}</button>
                <a class="btn btn-default" href="{:url('SlideItem/index',['slide_id'=>$slide_id])}">{:lang('BACK')}</a>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="__STATIC__/js/admin.js"></script>
</body>
</html>