<include file="public@header" />
</head>
<style type="text/css">
	.controls tr td{
		text-align: center;
	}
</style>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:url('lists')}">列表</a></li>
			<li class="active"><a>查看</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form  margin-top-20" action="{:url('reply')}">
			<input type="hidden" name="id" value="{$info['id']}">
			<fieldset>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">订单编号</label>
		            <div class="col-md-6 col-sm-10">
						<input type="text" name="numbering" readonly class="form-control valid" value="{$order['numbering']|default=""}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">订单金额</label>
		            <div class="col-md-6 col-sm-10">
						<input type="text" name="payment_amount" readonly class="form-control valid" value="{$order['payment_amount']|default=""}">
		            </div>
		        </div>
		        <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">申请人</label>
		            <div class="col-md-6 col-sm-10">
						<input type="text" readonly class="form-control valid" value="{$info['from']|default=""}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">标题</label>
		            <div class="col-md-6 col-sm-10">
						<input type="text" name="title" readonly class="form-control valid" value="{$info['title']|default=""}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">文字说明</label>
		            <div class="col-md-6 col-sm-10">
						<input type="text" name="text" readonly class="form-control valid" value="{$info['text']|default=""}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">图片</label>
		            <div class="col-md-6 col-sm-10">
						<volist name="info['img']" id="vo">
							<a href="{$vo}" target="_blank"><img src="{$vo}" width="100px"></a>
						</volist>
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">状态说明</label>
		            <div class="col-md-6 col-sm-10">
						<input type="text" name="statename" readonly class="form-control valid" value="{$info['statename']|default=""}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">申请时间</label>
		            <div class="col-md-6 col-sm-10">
						<input type="text" name="addtime" readonly class="form-control valid" value="{$info['addtime']|default=""}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">回复内容</label>
		            <div class="col-md-6 col-sm-10">
						<textarea name="reply" class="form-control valid">{$info['reply']|default=""}</textarea>请平台回复，回复内容不得超过500字
		            </div>
		            
		        </div>
		        <div class="form-group">
		            <label class="col-sm-2 control-label">状态</label>
		            <div class="col-md-6 col-sm-10">
		                <label class="radio-inline"><input type="radio" name="state" value="1" checked> 退款</label>
		                <label class="radio-inline"><input type="radio" name="state" value="2" > 取消退款</label>
		            </div>
		        </div>


				

				
				
			</fieldset>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<eq name="info['state']" value="0">
						<button type="submit" class="btn btn-primary js-ajax-submit">{:lang('ADD')}</button>
					</eq>
					<a class="btn btn-default" href="{:url('lists')}">{:lang('BACK')}</a>
	            </div>
			</div>
		</form>
	</div>
	<script src="/static/js/admin.js"></script>
	<script src="/static/js/laydate/laydate.js"></script>
</body>
</html>