<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >列表</a></li>
		</ul>
		
		<form class="well form-inline margin-top-20" method="post" action="{:url('Red/index')}">

			会员： 
            <input class="form-control" type="text" name="uid" style="width: 200px;" value="{:input('request.uid')}"
                   placeholder="请输入会员ID、靓号">
			<input type="submit" class="btn btn-primary" value="搜索">
		</form>		
		<form method="post" class="js-ajax-form" >

			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>编号</th>
						<th>发送者（ID）</th>
						<!-- <th>红包类型</th> -->
						<!-- <th>发放类型</th> -->
						<th>已抢/总金额</th>
						<th>已抢/总个数</th>
						<th>描述</th>
						<th>生效时间</th>
						<th>添加时间</th>
						<th>结束时间</th>
						<th>{:lang('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="vo">
					<tr>
						<td>{$vo.id}</td>					
						<td>{$vo['userinfo']['user_nicename']} ({$vo['uid']}) </td>
						<!-- <td>{$type[$vo['type']]}  </td> -->
						<!-- <td>{$type_grant[$vo['type_grant']]}</td> -->
						<td>{$vo['coin_rob']}/{$vo['amount']}</td>
						<td>{$vo['nums_rob']}/{$vo['nums']}</td>
						<td>{$vo['des']}</td>
						<td>{:date('Y-m-d H:i',$vo['effecttime'])}</td>
						<td>{:date('Y-m-d H:i',$vo['addtime'])}</td>
						<td>
						<if condition="$vo['endtime'] == 0">
							-
						<else/>
							{:date('Y-m-d H:i',$vo['endtime'])}
						</if>
						</td>
						<td>	
                            <a class="btn btn-xs btn-primary" href='{:url("Red/index2",array("redid"=>$vo["id"]))}'>领取记录</a>
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>

		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>