<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a>成员列表（不含家族长）</a></li>
			<li><a href="{:url('Familyuser/add')}">{:lang('ADD')}</a></li> 
		</ul>
		<form class="well form-inline margin-top-20" method="post" action="{:url('Familyuser/index')}">
            审核状态： 
            <select class="form-control" name="state">
				<option value="">全部</option>
                <volist name="state" id="v">
                    <option value="{$key}" <if condition="input('request.state') neq '' && input('request.state') eq $key">selected</if>>{$v}</option>
                </volist>
			</select>
			提交时间：
			<input class="form-control js-bootstrap-date" name="start_time" id="start_time" value="{:input('request.start_time')}" aria-invalid="false" style="width: 110px;"> - 
            <input class="form-control js-bootstrap-date" name="end_time" id="end_time" value="{:input('request.end_time')}" aria-invalid="false" style="width: 110px;">
			家族ID： 
            <input class="form-control" type="text" name="familyid" style="width: 200px;" value="{:input('request.familyid')}"
                   placeholder="请输入家族ID">
			成员ID： 
            <input class="form-control" type="text" name="uid" style="width: 200px;" value="{:input('request.uid')}"
                   placeholder="请输入会员ID、靓号">
			<input type="submit" class="btn btn-primary" value="搜索">
		</form>				
		<form method="post" class="js-ajax-form" >
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>会员(ID)</th>						
						<th>所属家族（ID）</th>
						<th>家族抽成比例（%）</th>
						<th>状态</th>
						<th>提交时间</th>
						<th>{:lang('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="vo">
					<tr>
						<td>{$vo.id}</td>
						<td>{$vo['userinfo']['user_nicename']}({$vo['uid']})</td>
						<td> 
                            <a href="{:url('Family/edit',array('id'=>$vo['familyid']))}" >{$vo['family']['name']|default=''}({$vo['familyid']})</a> </td>
						<td>
                        <if condition="$vo['divide_family'] neq '-1'">
						{$vo['divide_family']}
						<else/>
						{$vo['family']['divide_family']|default=''}
						</if>
                        </td>
						<td>{$state[$vo['state']]}</td>
						<td>{:date('Y-m-d H:i',$vo['addtime'])}</td>						
						<td>	
                            <a class="btn btn-xs btn-primary" href='{:url("Family/profit",array("id"=>$vo["id"]))}'>收益</a>
                            <a class="btn btn-xs btn-primary" href='{:url("Family/cash",array("id"=>$vo["id"]))}'>提现记录</a>
                            
                            <a class="btn btn-xs btn-primary" href='{:url("Familyuser/edit",array("id"=>$vo["id"]))}'>{:lang('EDIT')}</a>
							<a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('Familyuser/del',array('id'=>$vo['id']))}">{:lang('DELETE')}</a>
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>

		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>