<include file="public@header" />
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="{:url('lists')}">列表</a></li>
		</ul>
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th width="50">ID</th>
					<th>订单编号</th>
					<th>订单金额</th>
					<th>优惠金额</th>
					<th>支付金额</th>
					<th>支付方式</th>
					<th>订单状态</th>
					<th>下单时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<foreach name="list" item="vo">
				<tr>
					<td>{$vo.id}</td>
					<td>{$vo.numbering}</td>
					<td>{$vo.original_price}</td>
					<td>{$vo.discount}</td>
					<td>{$vo.payment_amount}</td>
					<td><eq name="vo['is_pay_type']" value="1">微信<else /><eq name="vo['is_pay_type']" value="0">支付宝<else />-</eq></eq></td>
					<td>{$vo.statename}</td>
					<td>{$vo.addtime}</td>
					<td>
						<a href="{:url('views', array('id'=>$vo['id']))}">查看</a>
					</td>
				</tr>
				</foreach>
			</tbody>
		</table>
		<div class="pagination">{$page}</div>
	</div>
	<script src="/static/js/admin.js"></script>
	<script src="/static/js/laydate/laydate.js"></script>
</body>
</html>