<include file="public@header" />
</head>
<style type="text/css">
	.controls tr td{
		text-align: center;
	}
</style>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:url('lists')}">列表</a></li>
			<li class="active"><a>查看</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form  margin-top-20" action="{:url('add_or_edit')}">
			<input type="hidden" name="id" value="{$id}">
			<fieldset>
			    
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">店铺名称</label>
		            <div class="col-md-6 col-sm-10">
		                <input type="text" name="shop_name" class="form-control valid" value="{$shop_name|default=""}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">订单编号</label>
		            <div class="col-md-6 col-sm-10">
						<input type="text" name="numbering" class="form-control valid" value="{$order['numbering']|default=""}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">下单用户</label>
		            <div class="col-md-6 col-sm-10">
		                <input type="text" name="user_name" readonly class="form-control valid" value="{$user_name|default=''}({$order['uid']})">
		            </div>
		        </div>
		        <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">收货人</label>
		            <div class="col-md-6 col-sm-10">
		                <input type="text" name="address_name" class="form-control valid" value="{$address['name']}">
		            </div>
		        </div>
		        <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">收货地址</label>
		            <div class="col-md-6 col-sm-10">
		                <input type="text" name="address_info" class="form-control valid" value="{$address['title']}">
		            </div>
		        </div>
		        <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">收货手机号码</label>
		            <div class="col-md-6 col-sm-10">
		                <input type="text" name="address_phone" class="form-control valid" value="{$address['phone']}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">订单金额</label>
		            <div class="col-md-6 col-sm-10">
						<input type="text" name="original_price" class="form-control valid" value="{$order['original_price']|default=""}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">优惠金额</label>
		            <div class="col-md-6 col-sm-10">
						<input type="text" name="discount" class="form-control valid" value="{$order['discount']|default=0}">
		            </div>
		        </div>
		        <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">物流公司</label>
		            <div class="col-md-6 col-sm-10">
						<input type="text" name="logistics" class="form-control valid" value="{$order['logistics_id']}" placeholder="未发货" readonly>
		            </div>
		        </div>
		        <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">快递单号</label>
		            <div class="col-md-6 col-sm-10">
						<input type="text" name="logistics" class="form-control valid" value="{$order['single_number']}" placeholder="未发货" readonly>
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">支付金额</label>
		            <div class="col-md-6 col-sm-10">
						<input type="text" name="payment_amount" class="form-control valid" value="{$order['payment_amount']|default=0}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">支付方式</label>
		            <div class="col-md-6 col-sm-10">
						<eq name="order['is_pay_type']" value="1">微信<else />支付宝</eq>
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">商品详情</label>
		            <div class="col-md-6 col-sm-10">
						<table width="100%">
							<tr><th>商品图片</th><th>商品名称</th><th>商品单价</th><th>购买数量</th></tr>
							<volist name="order_list" id="vo">
								<tr>
									<td><img src="{$vo['img']}" width="100px"></td>
									<td>{$vo['title']}</td>
									<td>{$vo['price']}</td>
									<td>{$vo['num']}</td>
								</tr>
							</volist>
						</table>
		            </div>
		        </div>

				
			</fieldset>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a class="btn btn-default" href="{:url('lists')}">{:lang('BACK')}</a>
	            </div>
			</div>
		</form>
	</div>
	<script src="/static/js/admin.js"></script>
</body>
</html>