<include file="public@header" />
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="{:url('lists')}">列表</a></li>
			<li><a href="{:url('add_or_edit')}">添加</a></li>
		</ul>
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th width="50">ID</th>
					<th>分类名称</th>
					<th>状态</th>
					<th width="150">操作</th>
				</tr>
			</thead>
			<tbody>
				<foreach name="list" item="vo">
				<tr>
					<td>{$vo.id}</td>
					<td>{$vo.name}</td>
					<td>{$vo.statename}</td>
					<td>
						<a class="btn btn-xs btn-primary" href='{:url("add_or_edit",array("id"=>$vo["id"]))}'>编辑</a>
						<a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('del',array('id'=>$vo['id']))}">删除</a>
					</td>
				</tr>
				</foreach>
			</tbody>
		</table>
		<div class="pagination">{$page}</div>
	</div>
	<script src="/static/js/admin.js"></script>
	<script src="/static/js/laydate/laydate.js"></script>
</body>
</html>