<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >列表</a></li>
		</ul>
		
		<form class="well form-inline margin-top-20" method="post" action="{:url('game/index')}">
            游戏类型：
            <select class="form-control" name="action">
				<option value="">全部</option>
                <volist name="action" id="v">
                    <option value="{$key}" <if condition="input('request.action') neq '' && input('request.action') eq $key">selected</if>>{$v}</option>
                </volist>
			</select>
            
			主播： 
            <input class="form-control" type="text" name="liveuid" style="width: 200px;" value="{:input('request.liveuid')}"
                   placeholder="请输入主播ID">
			<input type="submit" class="btn btn-primary" value="搜索">
		</form>		
		<form method="post" class="js-ajax-form" >
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>游戏类型</th>
						<th>主播（ID）</th>
						<th>开始时间</th>
						<th>结束时间</th>
						<th>游戏状态</th>
						<th>系统干预</th>
						<th align="center">{:lang('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="vo">
					<tr>
						<td>{$vo.id}</td>
                        <td>{$action[$vo['action']]}</td>
						<td>{$vo['userinfo']['user_nicename']} ({$vo['liveuid']}) </td>
						<td>{:date('Y-m-d H:i:s',$vo['starttime'])}</td>
						<td>
                            <if condition="$vo['state'] eq 0">
                            进行中
                            <else/>
                            {:date('Y-m-d H:i:s',$vo['endtime'])}
                            </if>
                        </td>
                        <td>{$status[$vo['state']]}</td>
						<td>{$type[$vo['isintervene']]}</td>
						<td align="center">	
                            <a class="btn btn-xs btn-primary" href='{:url("game/index2",array("gameid"=>$vo["id"],"result"=>$vo["result"]))}'>详情</a>
							
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>

		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>