<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >列表</a></li>
		</ul>
		<form class="well form-inline margin-top-20" method="post" action="{:url('Coinrecord/index')}">
			收支类型：
            <select class="form-control" name="type">
				<option value="">全部</option>
                <volist name="type" id="v">
                    <option value="{$key}" <if condition="input('request.type') neq '' && input('request.type') eq $key">selected</if>>{$v}</option>
                </volist>
			</select>
			收支行为： 
            <select class="form-control" name="action">
				<option value="">全部</option>
                <volist name="action" id="v">
                    <option value="{$key}" <if condition="input('request.action') neq '' && input('request.action') eq $key">selected</if>>{$v}</option>
                </volist>
			</select>
			时间：
			<input class="form-control js-bootstrap-date" name="start_time" id="start_time" value="{:input('request.start_time')}" aria-invalid="false" style="width: 110px;"> - 
            <input class="form-control js-bootstrap-date" name="end_time" id="end_time" value="{:input('request.end_time')}" aria-invalid="false" style="width: 110px;">
			会员： 
            <input class="form-control" type="text" name="uid" style="width: 200px;" value="{:input('request.uid')}"
                   placeholder="请输入会员ID、靓号">
			主播： 
            <input class="form-control" type="text" name="touid" style="width: 200px;" value="{:input('request.touid')}"
                   placeholder="请输入主播ID">
			<input type="submit" class="btn btn-primary" value="搜索">
		</form>		
		
		<form method="post" class="js-ajax-form">
	
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>收支类型</th>
						<th>收支行为</th>
						<th>会员 (ID)</th>
						<th>主播 (ID)</th>
						<th>行为说明 (ID)</th>
						<th>数量</th>
						<th>总价</th>
						<th>直播id</th>
						<th>时间</th>
						<!-- <th>{:lang('ACTIONS')}</th> -->
					</tr>
				</thead>
				<tbody>
					
					<foreach name="lists" item="vo">
					<tr>
						<td>{$vo.id}</td>
						<td>{$type[$vo['type']]}</td>
						<td>{$action[$vo['action']]}</td>
						<td>{$vo['userinfo']['user_nicename']} ({$vo['uid']})</td>
						<td>{$vo['touserinfo']['user_nicename']} ({$vo['touid']})</td>
						<td>{$vo['giftinfo']['giftname']} ({$vo['giftid']})</td>
						<td>{$vo['giftcount']}</td>
						<td>{$vo['totalcoin']}</td>
						<td>{$vo['showid']}</td>
						<td>{:date('Y-m-d H:i:s',$vo['addtime'])}</td>
						<!-- <td>	 -->
							<!-- <a class="btn btn-xs btn-primary" href='{:url("Coinrecord/edit",array("id"=>$vo["id"]))}'>{:lang('EDIT')}</a>
							<a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('Coinrecord/del',array('id'=>$vo['id']))}">{:lang('DELETE')}</a> -->
						<!-- </td> -->
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>

		</form>
	</div>
    <script src="__STATIC__/js/admin.js"></script>
</body>
</html>