<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:url('lists')}">列表</a></li>
			<li class="active"><a>添加</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form  margin-top-20" action="{:url('add_or_edit')}">
			<input type="hidden" name="id" value="{$id}">
			<fieldset>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">说明</label>
		            <div class="col-md-6 col-sm-10">
		                <input class="form-control" type="text" name="title" value="{$info['title']|default=""}">
		            </div>
		        </div>
		        
                <div class="form-group">
                    <label for="input-show_switch" class="col-sm-2 control-label">分类</label>
                    <div class="col-md-6 col-sm-10">
						<select class="form-control" name="type">
                            <option value="1" {php}if(!empty($type))echo 'selected'{/php}>用户</option>
                            <option value="0" {php}if(empty($type))echo 'selected'{/php}>商家</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input-show_switch" class="col-sm-2 control-label">状态</label>
                    <div class="col-md-6 col-sm-10">
						<select class="form-control" name="state">
                            <option value="1" {php}if(!empty($type))echo 'selected'{/php}>显示</option>
                            <option value="0" {php}if(empty($type))echo 'selected'{/php}>取消</option>
                        </select>
                    </div>
                </div>


			</fieldset>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary js-ajax-submit"><empty name="id">{:lang('ADD')}<else />编辑</empty></button>
					<a class="btn btn-default" href="{:url('lists')}">{:lang('BACK')}</a>
	            </div>
			</div>
		</form>
	</div>
	<script src="/static/js/admin.js"></script>
	<script type="text/javascript">
        (function(){
            $('.btn-cancel-img').click(function () {
                $('#img-preview').attr('src', '__TMPL__/public/assets/images/default-thumbnail.png');
                $('#img').val('');
            });
        })()

    </script>
</body>
</html>