.auth_status{}
.auth_status .status_img{
    padding:0.40rem 0;
    text-align:center;
}
.auth_status .status_img img{
    width:4.4rem;
    height:3.73rem;
}
.auth_status .status_info{
    line-height:0.5rem;
    text-align:center;
}
.auth_status .status_info .status_info_t{
    color:#323232;
    font-size:0.32rem;
}
.auth_status .status_info .status_info_t.no{

}
.auth_status .status_info .status_info_t.no img{
    margin-right:0.1rem;
    width:0.3rem;
    height:0.3rem;
    
}
.auth_status .status_info .status_info_d{
    color:#646464;
    font-size:0.26rem;
}
.auth_status .autharea{
    margin:0.9rem auto;
    width:3.2rem;
    height:0.8rem;
    line-height:0.8rem;
    text-align:center;
    color:#FE4824;
    font-size:0.32rem;
    border-radius:0.4rem;
    border:1px solid #FB5736;
}
.auth_status .autharea a{
    display:block;
    color:#FE4824;
}

