body{
    background:#fff;
}
.bond{

}
.bond .line10{
    height:0.1rem;
}
.bond .bond_coin{
    padding:0 0.3rem;
    height:1rem;
    line-height:1rem;
    
}
.bond .bond_coin .bond_coin_l{
    float:left;
    font-size:0.26rem;
}
.bond .bond_coin .bond_coin_r{
    float:right;
    font-size:0.32rem;
}
.bond .bond_coin .bond_coin_r img{
    width:0.32rem;
    height:auto;
    vertical-align: middle;
    margin-top: -0.05rem;
    margin-left:0.05rem;
}

.bond .ready_tips{
    margin-bottom:1.43rem;
    padding:0.32rem 0.3rem 0;
    height:2.62rem;
    -moz-box-sizing: border-box;  /*Firefox3.5+*/
	-webkit-box-sizing: border-box; /*Safari3.2+*/
	-o-box-sizing: border-box; /*Opera9.6*/
	-ms-box-sizing: border-box; /*IE8*/
	box-sizing: border-box;
}
.bond .ready_tips .ready_tips_t{
    font-size:0.26rem;
    line-height:0.4rem;
}
.bond .ready_tips .ready_tips_d{
    margin-bottom:0.27rem;
    font-size:0.24rem;
    line-height:0.4rem;
    font-weight:500;
}
.bond .ready_tips .ready_tips_d2{}
.bond .ready_tips .ready_tips_d2 p{
    color:#969696;
    font-size:0.24rem;
    line-height:0.4rem;
}

.bond .bond_btn{
    margin:0 auto;
    width:6rem;
    height:0.8rem;
    line-height:0.8rem;
    text-align:center;
    color:rgba(255,255,255,1);
    font-size:0.3rem;
    border-radius:0.4rem;
}
.bond .bond_btn.ok{
    background: -webkit-linear-gradient(left, rgba(255,86,35,1) , rgba(255,125,47,1)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, rgba(255,86,35,1), rgba(255,125,47,1)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, rgba(255,86,35,1), rgba(255,125,47,1)); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, rgba(255,86,35,1) , rgba(255,125,47,1)); /* 标准的语法 */
}
.bond .bond_btn.no{
    background: -webkit-linear-gradient(left, rgba(255,86,35,0.5) , rgba(255,125,47,0.5)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, rgba(255,86,35,0.5), rgba(255,125,47,0.5)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, rgba(255,86,35,0.5), rgba(255,125,47,0.5)); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, rgba(255,86,35,0.5) , rgba(255,125,47,0.5)); /* 标准的语法 */
}