body{
    background:#f5f5f5;
}
.top{
    padding: 0.2rem;
    background: #fff;
}
.top div{
    width: 32%;
    display: inline-block;
    font-size: 16px;
    text-align: center;
}
.top span{
    color:#b7ad8a;
}
.list{
    background:#fff;
}
.list ul{}
.list ul li{
    padding:0 0.4rem 0 0.2rem;
    height:1.2rem;
    border-bottom:1px solid #f5f5f5;
}
.list ul li p{
    line-height:0.6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list ul li .list_l{
    float:left;
    width:60%;
}

.list ul li .list_l .avatar{
    height: 0.8rem;
    padding: 0.2rem;
    border-radius: 50%;
}
.list ul li .list_l p.money{
    color:#646464;
}
.list ul li .list_l p span{
    display:inline-block;
    margin-right:0.2rem;
    width:0.8rem;
    text-align:right;
}

.list ul li .list_r{
    float:right;
    width:40%;
}
.list ul li .list_r p{
    text-align:right;
    color:#969696;
}

.list ul li .remark{
    display: inline-block;
    padding-left: 0.2rem;
}