
.bottombtn{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	height:50px;
	line-height:50px;
	text-align:center;
	color:#fff;
	font-size:0.32rem;
}
/* 列表主体样式 */
.user-list{
    background:#fff;
}
.user-list ul li{
	position:relative;
	padding:20px 0 20px 70px;
	border-bottom:1px solid #f5f5f5;
}

.user-list ul li .thumb{
	position:absolute;
	top:20px;
	left:10px;
	width:50px;
	height:50px;
	text-align:center;
	
}
.user-list ul li .thumb img{
	width:100%;
	height:100%;
	border-radius:50%;
}
.user-list ul li .info{}
.user-list ul li .info .info-title{
	font-size:0.32rem;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	height:25px;
	line-height:25px;
    font-weight:bold;
}

.user-list ul li .info .info-des{
	color:#646464;
	font-size:0.24rem;
	height:23px;
	line-height:23px;
    font-weight:bold;
}
.user-list ul li .info .info-des2{
	color:#969696;
	font-size:0.24rem;
	height:23px;
	line-height:23px;
}

.user-list ul li .info .info-des2.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-list ul li .info .info-des2 span{
	display:inline-block;
	width:50%;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-list ul li .info .info-des2 span i{
    font-style:normal;
}
.user-list ul li .action {
	position:absolute;
	top:28px;
	right:5px;
}
.user-list ul li .action span{
	display:inline-block;
	width:60px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#FF6131;
	font-size:0.28rem;
	border:1px solid #FF6131;
	border-radius:15px;
	margin:0 10px;
}

.user-list ul li .info .tip{
	color:#bbb;
	font-size:0.24rem;
}

.user-list-fillet ul li {
    padding-left:90px;
}
.user-list-fillet ul li .thumb {
    width:70px;
    height:70px;
}
.user-list-fillet ul li .thumb img{
    border-radius:10px;
}

/* 申请家族 */
.apply{
    background: #fff;
    padding-bottom: 1px;
}
.img-sfz
{
	width: 110px;
	margin-right: 10px;
	height:110px;
}
.btn {
	color: #fff;
	background-color: #00D8C9;
	width: 74%;
	margin: 20% 13% 0;
	height: 46px;
	line-height: 46px;
	font-size: 0.22rem;
	text-align: center;
	border-radius: 55px;
}

.top-title
{
    padding-left:15px;
	height:40px;
	line-height: 40px;
    color:#fff;
    font-size:0.24rem;
}
.top-title a
{
	color:#5a2929
}
.apply_form .apply_form_content{
    padding:0 15px;
}
.apply_form .term
{
    font-size:0;
}
.apply_form .term.t
{
    position:relative;
	margin-top:20px;
}
.apply_form .form_span
{
    display:inline-block;
    width:80px;
	font-size:0.32rem;
}
.apply_form .form_input
{
	width: calc(100% - 80px);
	height: 50px;
	font-size: 0.32rem;
	border:none;
	outline:none;
}

.apply_form .form_textarea
{
	width: calc(100% - 80px);
	height: 100px;
	font-size: 0.32rem;
	border:none;
	outline:none;
	resize:none;
	margin-top:10px;
	line-height:0.4rem;
}

.apply_form .sf2
{
	float:left;
	margin-top:10px;
}
.shadd
{
	width: 110px;
	position:absolute;
	background: rgba(0,0,0,0.4);
	display: none;
}
.shad
{
	left: 80px;
	margin-top:-110px;
}
.shad2
{
	left: 210px;
	margin-top:-110px
}
.shad3
{
	left: 80px;
	margin-top:-110px
}
.title-upload
{
	width: 100%;
	font-size: 0.16rem;
	color: #fff;
	margin-top: 15%;
	text-align: center;
}
#progress1,#progress2,#progress3
{
	margin-left:10%;
	width:80%;
	margin-top:17%;
	height: 6px;
	border:solid 1px #fff;
	background-color:#ccc;
	border-radius: 20px;
	position:relative;
}
.progress
{
	width:0;
	height:4px;
	border:1px solid #fff;
	border-radius:20px;
	position:absolute;
	left:0;
	top:0;
	background-color:#fff;
}
.box-upload1
{
	left: 100px;
}
.box-upload2
{
	left: 230px;
}
.box-upload3
{
	left: 100px;
}
.box-upload
{
	width: 70px;
	height:80px;
	position: absolute;
    top: 32px;
	display: none;
}
.button
{
	display: block;
	outline: none;
	border: none;	
	width: 70%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size:0.32rem;
	border-radius: 20px;
	margin: 40px auto;
}

/* 申请进度 */
.apply_wait{
    background:#fff;
}
.speed{
	text-align:center;
	padding:10px 30px;
    background:#fff;
}
.speed .speed_thumb{
	padding: 10px;
}
.speed .speed_thumb img{
    width:110px;
}
.speed .speed_title{
	font-size:0.36rem;
	line-height:50px;
    font-weight:bold;
}
.speed .speed_tips{
	color:#969696;
	line-height:20px;
	font-size:0.28rem;
}
.speed .speed_tips2{
    display:none;
	color:#fea430;
	font-size:0.28rem;
	line-height:30px;
}
.apply_wait .apply_form{
    padding:0 15px;
	margin-bottom:100px;
}
.apply_wait .apply_form .form_textarea{
	height:auto;
}
.apply_wait .revoke{}

.apply_no{
    padding-bottom:1px;
    background:#fff;
}
.apply_no .speed .speed_tips2{
	color:#adadad;
	font-size:0.28rem;
	line-height:30px;
}
.apply_no .reset{
	display:block;
	width:70%;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#fff;
	font-size:0.32rem;
	margin:20px auto;
	border-radius:20px;
}

.apply_ok{
    padding-bottom:1px;
    background:#fff;
}
.apply_ok .reset{
	display:block;
	width:70%;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#fff;
	font-size:0.32rem;
	margin:20px auto;
	border-radius:20px;
}

/* 家族首页 */
.home{
    background:#fff;
}
.home .des{}
.home .des .des_title{
	padding:0 15px;
	height:40px;
	line-height:40px;
	color:#646464;
	font-size:0.32rem;
}
.home .des .des_title .edit_des{
    float:right;
	display:block;
	width:50px;
	height:40px;
	background:url("../images/right.png") no-repeat center right;
    background-size:20px;
}
.home .des .des_body{
	padding:10px 15px;
	line-height:30px;
	color:#646464;
	font-size:0.28rem;
    font-weight:bold;
}
.home_info{
    padding:0 15px;
    background:#fff;
}
.home_info ul{}
.home_info ul li{
	position:relative;
	height:50px;
	line-height:50px;
	border-bottom:1px solid #f5f5f5;
	font-size:0.28rem;
	
}
.home_info ul li .home_info_t{
	margin-right:5px;
    font-size:0.28rem;
}
.home_info ul li .home_info_b{
	float:right;
    font-weight: bold;
}
.home_info ul li.des{
	padding-left:47px;
    padding-right:30px;
} 
.home_info ul li.des .home_info_t{
	position:absolute;
	left:0px;
}
.home_info ul li.des .home_info_b{
	width: 100%;
    display: inline-block;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.home_info ul li .edit_des{
	position:absolute;
	top:0;
	right:0;
	display:block;
	width:50px;
	height:50px;
	background:url("../images/right.png") no-repeat center right;
    background-size:20px;
}
.home_info ul li .edit_divide{
	position:absolute;
	top:0;
	right:0;
	display:block;
	height:50px;
	line-height:50px;
	text-align:center;
	color:#ffbd00;
}

.family_home
{
	width:96%;
	margin:0 auto;
}
.family_home .family_home_ul
{

}
.family_home .family_home_li
{
	float:left;
	display:block;
	width:23%;
	text-align:center;
	margin:20px 1% 0 1%;
}
.family_home .family_home_li .family_home_a 
{
	width:100%;
	text-align:center;
}
.family_home .family_home_li .family_home_a span
{
	color:#666;
    font-size:0.24rem;
}
.family_home .family_home_li .family_home_a .family_home_img
{
	width:60%;
}
/* 修改简介 */
.setdes{
	background:#f5f5f5;
}
.setdes .textarea{
	padding:15px;
	background:#fff;
}
.setdes .textarea textarea{
	width: 100%;
	min-height: 100px;
	font-size: 0.36rem;
	border:none;
	outline:none;
	margin-left: 3.5%;
	resize:none;
	margin-top:10px;
	line-height:0.4rem;
}
.setdes .setdes_post{
	display:block;
	width:70%;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#fff;
	font-size:0.32rem;
	margin:20px auto;
	border-radius:20px;
}

/* 家族成员 */
.member{}
.member .user-list ul li .info{
	margin-right:110px;
}
.member .user-list ul li .info .info-des span i{
	font-style:normal;
}
.member .user-list ul li .action span{
	width:50px;
	margin:0;
}

.member .user-list ul li .action span.ok{
	background:#fff;
	border:1px solid #11eb49;
	color:#11eb49;
}
.member .user-list ul li .action span.no{
	background:#fff;
	border:1px solid #ff0000;
	color:#ff0000;
}
/* 签约审核 */
.examine{}
.examine .user-list ul li .info{
	margin-right:110px;
}
.examine .user-list ul li .action span{
	width:50px;
	margin:0;
}
.examine .user-list ul li .action span.ok{
	background:#fff;
	border:1px solid #11eb49;
	color:#11eb49;
}
.examine .user-list ul li .action span.no{
	background:#fff;
	border:1px solid #ff0000;
	color:#ff0000;
}
/* 退出管理 */
.signout{}
.signout .user-list ul li .info{
	margin-right:110px;
}
.signout .user-list ul li .action span{
	width:50px;
	margin:0;
}
.signout .user-list ul li .action span.ok{
	background:#fff;
	border:1px solid #11eb49;
	color:#11eb49;
}
.signout .user-list ul li .action span.no{
	background:#fff;
	border:1px solid #ff0000;
	color:#ff0000;
}

.sign_ok{}
.sign_ok .speed .speed_title{
	color:#666666;
	font-size:0.32rem;
}
.sign_ok .reset{
	display:block;
	width:50%;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#fff;
	font-size:0.32rem;
	margin:20px auto;
	border-radius:20px;
}
.sign_no{}
.sign_no .speed .speed_title{
	color:#666666;
	font-size:0.32rem;
}

.sign_no .reset{
	display:block;
	width:50%;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#fff;
	font-size:0.32rem;
	margin:20px auto;
	border-radius:20px;
}

/* 我的家族1 */
.home_user{
    padding-top: 30px;
    background: #fff;
}
.home_user .top_img{
	text-align:center;
}
.home_user .top_img img{
	max-height:150px;
}
.home_user .title1{
	font-size:0.32rem;
	line-height:50px;
	text-align:center;
    font-weight:bold;
}
.home_user .title2{
	color:#969696;
	font-size:0.32rem;
	line-height:30px;
	text-align:center;
}
.home_user .home_button{
	margin:30px 0;
	text-align:center;
}
.home_user .home_button a{
	display:inline-block;
	margin:0 auto 20px; 
	width:70%;
	height:40px;
	line-height:40px;
	text-align:center;
	border-radius:20px;
	color:#fff; 
    font-size:0.32rem;
}
.home_user .home_button a.join{
    border:1px solid #FF6131;
}
.home_user .home_button a.create{
    color:#FF6131;
    border:1px solid #FF6131;
}

/* 家族中心 */
.attended{}
.attended .search{
	padding:10px 10px 10px 20px;
	position:relative;
    background:#fff;
}
.attended .search .search_input{
	margin-right:40px;
	position:relative;
}
.attended .search .search_input input{
	width:100%;
	height:30px;
	line-height:30px;
	padding-left:34px;
	padding-right:40px;
	color:#a9a9a9;
	font-size:0.28rem;
	border:none;
	border-radius:15px;
	background:#f5f5f5 url("../images/search.png") no-repeat 5px 5px;
	background-size:20px 20px;
	-moz-box-sizing: border-box;  /*Firefox3.5+*/
	-webkit-box-sizing: border-box; /*Safari3.2+*/
	-o-box-sizing: border-box; /*Opera9.6*/
	-ms-box-sizing: border-box; /*IE8*/
	box-sizing: border-box;
}

.attended .search .search_input .search_clear{
	position:absolute;
	top:5px;
	right:10px;
	display:inline-block;
	width:20px;
	height:20px;
	background:url("../images/family/search_clear.png") no-repeat center;
	background-size:20px 20px;
}

.attended .search .search_btn{
	position:absolute;
	top:10px;
	right:0;
	width:50px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#ffdd00;
	font-size:0.28rem;
	
}
.attended .list_title{
	position:relative;
	height:50px;
	line-height:50px;
	color:#969696;
	font-size:0.28rem;
	padding-left:20px;
	border-bottom:1px solid #f5f5f5;
    background:#fff;
}
.attended .list_title .reload{
    display:none;
	position:absolute;
	top:5px;
	right:10px;
	width:40px;
	height:40px;
	background:url("../images/reload.png") no-repeat center;
	background-size:40px;
}
.attended .user-list ul li .info{
    margin-right:80px;
}
.attended .user-list ul li .action{
    top: 38px;
}
.attended .family_empty{
    padding:100px 0;
    text-align:center;
    color: #969696;
}

/* 家族详情 */
.detail{}
.detail .user-list ul li .info{
	margin-right:0;
}
.detail .detai_top{

}
.detail .detai_top .user-list ul li{
	border:none;
}
.detail .des{
    background:#fff;
}
.detail .des .des_title{
	padding:0 10px;
	height:40px;
	line-height:40px;
	color:#646464;
	font-size:0.32rem;
}
.detail .des .des_body{
	padding:10px;
	line-height:30px;
	color:#646464;
	font-size:0.28rem;
    font-weight:bold;
}
.detail .anchor{
	margin-bottom:60px;
    background:#fff;
}
.detail .anchor .anchor_t{
	padding:0 10px;
	height:50px;
	line-height:50px;
	color:#646464;
	font-size:0.32rem;
	border-bottom:1px solid #f5f5f5;
}
.detail .anchor .anchor_t span{

}
.detail .anchor .user-list{
    padding:0 10px;
}

.detail .sign{}

/* 签约家族 */
.detail_sign .sign{}

/* 签约 */
/* 解除签约 */
.relieve{}
.relieve .tips{
	padding:20px;
	min-height:200px;
	font-size:0.28rem;
	line-height:30px;
}
.relieve .relievebtn{
	display:block;
	width:50%;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#fff;
	font-size:0.32rem;
	margin:20px auto;
	border-radius:20px;
}

/* 家族盈利 */
.profit_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background:#f5f5f5;
}
.profit_ul_t{
	position:absolute;
	width:100%;
	height:40px;
	top:10px;
	left:0;
	overflow:auto;
    background:#fff;
}
.profit_ul_t span{
	display:inline-block;
	float:left;
	width:25%;
	height:40px;
	line-height:40px;
	text-align:center;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-box-sizing: border-box;  /*Firefox3.5+*/
	-webkit-box-sizing: border-box; /*Safari3.2+*/
	-o-box-sizing: border-box; /*Opera9.6*/
	-ms-box-sizing: border-box; /*IE8*/
	box-sizing: border-box;
    border-left:1px solid #f5f5f5;
    border-bottom:1px solid #f5f5f5;
}
.profit_ul_t span:first-child{
    border-left:none;
}
.profit_ul{
	position:absolute;
	width:100%;
	height:calc(100% - 50px);
	top:50px;
	left:0;
	overflow:auto;
}
.profit_ul ul li{
	height:40px;
	line-height:40px;
	border-bottom:1px solid #f5f5f5;
    background:#fff;
}
.profit_ul ul li span{
	display:inline-block;
	float:left;
	width:25%;
	height:40px;
	line-height:40px;
	text-align:center;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-box-sizing: border-box;  /*Firefox3.5+*/
	-webkit-box-sizing: border-box; /*Safari3.2+*/
	-o-box-sizing: border-box; /*Opera9.6*/
	-ms-box-sizing: border-box; /*IE8*/
	box-sizing: border-box;
    border-left:1px solid #f5f5f5;
}
.profit_ul ul li span:first-child{
    border:none;
}
.profit_ul ul li span.coin{
    font-weight: bold;
}
.profit_ul ul li span.coin img{
    width: 16px;
    vertical-align: sub;
    margin: 0 5px;
}
.profit{}

/* 主播数据 */
.long{}
.long .profit_ul_t span{
	width:33%;
}

.long .profit_ul ul li span{
	width:33%;
}



body .layui-layer-prompt textarea.layui-layer-input{
	resize:none;
}

@media screen and (max-width: 350px) {
    .img-sfz {
        width: 90px;
        margin-right: 10px;
        height: 90px;
    }
}