.home{
	background: #fff;
	padding-top: 20px;
}
.home .input{
	border-bottom: 1px solid #F3F3F3;
	padding: 0.5em 0;
}
.home .input input{
	border:0px;
}
.home .input span{
	display: inline-block;
	width: 5em;
	float: left;
}
.home .input span img{
	display: block;
	margin: 0 auto;
	height: 2.2em;
}
.home .input div{
	display: inline-block;
	float: left;
	width: 20em;
}
.home .input div input{
	height: 2.2em;
}

.home .input div b.button{
	display: inline-block;
	font-weight: 400;
	width: 6em;
	height: 2.2em;
	background: #FF627B;
	text-align: center;
	line-height: 2.2em;
	color: #fff;
	border-radius: 0.3em;
	float: right;
}


.download{
	padding-top: 0px;
}
/**下载页面**/
.download .img img{
	width: 100%;
}
.download .download-img{
	width: 100%;
	text-align: center;
	padding:2em 0;
}
.download .download-img img{
	width: 10em;
	display: block;
	margin: 0 auto;
}

































