<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >列表</a></li>
		</ul>
		
		<form class="well form-inline margin-top-20" method="post" action="{:url('Agent/index2')}">
			会员： 
            <input class="form-control" type="text" name="uid" style="width: 200px;" value="{:input('request.uid')}"
                   placeholder="请输入会员ID、靓号">
            &nbsp;&nbsp;
			<input type="submit" class="btn btn-primary" value="搜索">
		</form>		
		<form method="post" class="js-ajax-form" >

			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>编号</th>
						<th>会员（ID）</th>
						<th>一级收益</th>
					<!-- 	<th align="center">{:lang('ACTIONS')}</th> -->
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="vo">
					<tr>
						<td>{$vo.id}</td>					
						<td>{$vo['userinfo']['user_nicename']} ({$vo['uid']}) </td>
						<td>{$vo['one_profit']} </td>
						<!-- <td align="center">	
							<a href="{:url('Agent/del',array('id'=>$vo['id']))}" class="btn btn-xs btn-danger js-ajax-delete" data-msg="您确定要删除吗？">{:lang('DELETE')}</a>
						</td> -->
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>

		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>