<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >列表</a></li>
		</ul>
		
		<form class="well form-inline margin-top-20" method="post" action="{:url('Agent/index')}">
			会员： 
            <input class="form-control" type="text" name="uid" style="width: 200px;" value="{:input('request.uid')}"
                   placeholder="请输入会员ID、靓号">
			上一级： 
            <input class="form-control" type="text" name="one_uid" style="width: 200px;" value="{:input('request.one_uid')}"
                   placeholder="请输入上一级用户ID、靓号">
			<input type="submit" class="btn btn-primary" value="搜索">

		</form>		
		<form method="post" class="js-ajax-form" >
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>编号</th>
						<th>会员（ID）</th>
						<th>上一级（ID）</th>
						<th>添加时间</th>
					<!-- 	<th align="center">{:lang('ACTIONS')}</th> -->
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="vo">
					<tr>
						<td>{$vo.id}</td>					
						<td>{$vo['userinfo']['user_nicename']} ({$vo['uid']}) </td>
						<td>{$vo['oneuserinfo']['user_nicename']} ({$vo['one_uid']}) </td>
						<td>{:date('Y-m-d H:i:s',$vo['addtime'])}</td>
						<!-- <td align="center">	
						 <a href="{:url('Agent/edit',array('id'=>$vo['id']))}" >编辑</a> | 
							<a href="{:url('Agent/del',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="您确定要删除吗？">删除</a>
						</td> -->
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>

		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>