<include file="public@header"/>
</head>
<body>
<div class="wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a href="{:url('Expert/expert_user')}">专家申请列表</a></li>
    </ul>
    <form class="well form-inline margin-top-20" method="post" action="{:url('Expert/expert_user')}">
        申请状态：
        <select class="form-control" name="status">
			<option value="">全部</option>
            <volist name="status" id="v">
                <option value="{$key}" <if condition="input('request.status') neq '' && input('request.status') eq $key">selected</if>>{$v}</option>
            </volist>
		</select>
		提交时间：
		<input class="form-control js-bootstrap-date" name="start_time" id="start_time" value="{:input('request.start_time')}" aria-invalid="false" style="width: 110px;"> - 
        <input class="form-control js-bootstrap-date" name="end_time" id="end_time" value="{:input('request.end_time')}" aria-invalid="false" style="width: 110px;">
        用户ID：
        <input class="form-control" type="text" name="uid" style="width: 200px;" value="{:input('request.uid')}"
               placeholder="请输入会员ID、靓号">
		关键字： 
        <input class="form-control" type="text" name="keyword" style="width: 200px;" value="{:input('request.keyword')}"
               placeholder="请输入姓名、手机、身份证号">
		<input type="submit" class="btn btn-primary" value="搜索">
	</form>
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th width="50">ID</th>
            <th>昵称</th>
            <th>姓名</th>
            <th>电话</th>
            <th>身份证号</th>
            <th>申请时间</th>
            <th>申请状态</th>
            <th>申请通过时间</th>
            <th>申请未通过原因</th>
            <th width="160">{:lang('ACTIONS')}</th>
        </tr>
        </thead>
        <tbody>
    	<if condition="!empty($lists)">
        <foreach name="lists" item="vo">
            <tr>
                <td>{$vo.uid}</td>
                <td>{$vo.userinfo['user_nicename']}</td>
                <td>{$vo.realname}</td>
                <td>{$vo.phone}</td>
                <td>{$vo.card_no}</td>
                <td>{$vo.apply_time|date="Y-m-d H:i:s"}</td>
                <td>
                	<switch name="vo.apply_status">
    					<case value="0">
    						待审核
    					</case>
    					<case value="1">
    						审核通过
    					</case>
    					<case value="2">
    						审核未通过
    					</case>
    				</switch>
                </td>
                <td>
                	<switch name="vo.apply_status">
    					<case value="0">
    						-
    					</case>
    					<case value="1">
    						{$vo.pass_time|date="Y-m-d H:i:s"}
    					</case>
    					<case value="2">
    						-
    					</case>
    				</switch>
                </td>
                <td>
                	<switch name="vo.apply_status">
    					<case value="0">
    						-
    					</case>
    					<case value="1">
    						-
    					</case>
    					<case value="2">
    						{$vo.unpass_reason}
    					</case>
    				</switch>
                </td>
                <td>
                    <a class="btn btn-xs btn-info" href="{:url('Expert/info',array('uid'=>$vo['uid']))}">查看</a>
                    <a class="btn btn-xs btn-danger js-ajax-delete" class="js-ajax-delete" href="{:url('delete',array('uid'=>$vo['uid']))}">删除</a>
                </td>
            </tr>
        </foreach>		
    	</if>
        </tbody>
        <tfoot>
        	<div class="pagination">{$page}</div>
        </tfoot>
    </table>

</div>
<script src="__STATIC__/js/admin.js"></script>
</body>
</html>