<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:url('Expert/expert_user')}">专家申请列表</a></li>
			<li class="active"><a>详情</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('Expert/passPost')}">
            <div class="form-group">
				<label for="input-name" class="col-sm-2 control-label">会员</label>
				<div class="col-md-6 col-sm-10" style="padding-top:7px;">
					{$data['userinfo']['user_nicename']} ({$data['uid']})
				</div>
			</div>
            
            <div class="form-group">
				<label for="input-real_name" class="col-sm-2 control-label">真实姓名</label>
				<div class="col-md-6 col-sm-10" style="padding-top:7px;">
					{$data['realname']}
				</div>
			</div>
            
            <div class="form-group">
				<label for="input-mobile" class="col-sm-2 control-label">手机号码</label>
				<div class="col-md-6 col-sm-10" style="padding-top:7px;">
                    {$data['phone']}
				</div>
			</div>
            
            <div class="form-group">
				<label for="input-cer_no" class="col-sm-2 control-label">身份证号</label>
				<div class="col-md-6 col-sm-10" style="padding-top:7px;">
					{$data['card_no']}
				</div>
			</div>
            
            <div class="form-group">
				<label for="input-front_card_view" class="col-sm-2 control-label">身份证正面</label>
				<div class="col-md-6 col-sm-10" style="padding-top:7px;">
					<img src="{$data['front_card_view']}" style="cursor: hand;max-width:100px;max-height:200px;" />
				</div>
			</div>
            
            <div class="form-group">
				<label for="input-back_card_view" class="col-sm-2 control-label">身份证反面</label>
				<div class="col-md-6 col-sm-10" style="padding-top:7px;">
					<img src="{$data['back_card_view']}" style="cursor: hand;max-width:100px;max-height:200px;" />
				</div>
			</div>
            
            <div class="form-group">
				<label for="input-hand_card_view" class="col-sm-2 control-label">手持身份证照</label>
				<div class="col-md-6 col-sm-10" style="padding-top:7px;">
					<img src="{$data['hand_card_view']}" style="cursor: hand;max-width:100px;max-height:200px;" />
				</div>
			</div>
            <div class="form-group">
				<label for="input-hand_card_view" class="col-sm-2 control-label">证件照</label>
				<div class="col-md-6 col-sm-10" style="padding-top:7px;">
					<volist name="data.cert_view" id="v">
						<img src="{$v}" style="cursor: hand;max-width:100px;max-height:200px;" />
					</volist>
				</div>
			</div>
			<?php $readonly = ($data['apply_status'] != 0) ? 'disabled' : ''; ?>
            <div class="form-group">
				<label for="input-reason" class="col-sm-2 control-label">绑定鉴定分类</label>
				<div class="col-md-6 col-sm-10" style="padding-top:7px;">
					<volist name="classData" id="v">
						<label>
						{$v.name}
						</label>
					<!-- <label class="checkbox-inline">
						<input type="checkbox" value="{$v.id}" {$readonly} name="assort_id[]">
						{$v.name}
					</label> -->
					</volist>
				</div>
			</div>
            <div class="form-group">
				<label for="input-cer_no" class="col-sm-2 control-label">自我介绍</label>
				<div class="col-md-6 col-sm-10" style="padding-top:7px;">
					<textarea class="form-control" rows="2" cols="20" id="input-reason" name="description" >{$data['description']}</textarea>
				</div>
			</div>
            
            <div class="form-group">
				<label for="input-trade_no" class="col-sm-2 control-label"><span class="form-required">*</span>申请状态</label>
				<div class="col-md-6 col-sm-10">
					<select class="form-control" id="apply_status" {$readonly} name="apply_status">
                        <volist name="status" id="v">
                        <option value="{$key}" <eq name="data['apply_status']" value="$key">selected</eq>>{$v}</option>
                        </volist>
                    </select>
				</div>
			</div>
			
			<div class="pass-show" style="display:none;">
            <div class="form-group">
				<label for="input-reason" class="col-sm-2 control-label">设置鉴定费用</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" id="input-appraise_fee" name="appraise_fee" value="{$data['appraise_fee']}" >
				</div>
			</div>
			</div>
			<div class="unpass-show" style="display:none;">
            <div class="form-group">
				<label for="input-reason" class="col-sm-2 control-label">申请未通过原因</label>
				<div class="col-md-6 col-sm-10">
					<textarea class="form-control" {$readonly} rows="2" cols="20" id="input-reason" name="unpass_reason" >{$data.unpass_reason|default=''}</textarea>
				</div>
			</div>
			</div>

            <div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<input type="hidden" name="uid" value="{$data.uid}" />
					<if condition="$data['apply_status'] == 0">
					<button type="submit" class="btn btn-primary js-ajax-submit">{:lang('OK')}</button>
					<else/>
					<if condition="$data['apply_status'] == 1">
						<input type="hidden" name="change_fee" value="1">
					<button type="submit" class="btn btn-primary js-ajax-submit">{:lang('OK')}</button>
					</if>
					</if>
					<a class="btn btn-default" href="javascript:history.back(-1);">{:lang('BACK')}</a>
				</div>
			</div>

		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
	<script>
		// 判断展示区块
		function show_div(id){
			var s = $("#"+id).val();
			if(s == 1){
				$(".pass-show").show();
				$(".unpass-show").hide();
			}else if(s == 2){
				$(".unpass-show").show();
				$(".pass-show").hide();
			}else{
				$(".pass-show").hide();
				$(".unpass-show").hide();
			}
		}
		var id = "apply_status";
		if($("#"+id).size()){
			show_div(id);
			$("#"+id).change(function(e){
				show_div(id);
			});
		}
	</script>
</body>
</html>