<include file="public@head"/>
<title>{$site_info['site_name']}</title>
<link type="text/css" rel="stylesheet" href="__STATIC__/home/css/programe.css"/>
</head>
<body>
<div class="wrapper">
    <include file="public@header"/>
</div>



<div class="content">
    <div class="div-img">
        <div class="qr-code">
            <div class="qr-img"><img src="{$site_info['qr_url']}" style="width:90%;height:auto;margin-left:5%;margin-top:5%;" ></div>
            <div class="qr-right">
                <p class="qr-p1">扫描二维码下载</p>
                <p class="qr-p2">IOS/Android版本</p>
                <p class="qr-p2">均已在各大应用市场上架</p>
            </div>
    </div>
        <div class="bottom">
            <div class="ab-left clearfix">
                <div class="ab">关注我们：</div>
                <a class="ab-weibo"><span></span>新浪微博</a>
                <a class="ab-wixin"><span></span>微信</a>
                <a class="ab-qq"><span></span>QQ空间</a>
            </div>
            <div class="ab-content">商务合作: {$site_info['mobile']}</div>
        </div>

    </div>


</div>

<include file="public@footer"/>
<include file="public@scripts"/>

</body>
</html>