<include file="public@header" />
</head>
<style type="text/css">
	.controls tr td{
		text-align: center;
	}

	.select_logistics_list{
		padding-left: 0px;
	}
	.select_logistics_list li{
		list-style: none;
		height: 30px;
		line-height: 30px;
	}
	table tr td{
		text-align: center;
	}
	.select_logistics_list{
		width: 94.5%;
		height:100px;
		position:absolute;
		overflow-y: auto;
		border: 1px solid #ccc;
		top: 34px;
		border-top: none;
		display: none;
		z-index: 999;
    	background: #fff;
		padding: 0px;
	}
	.select_logistics_list li{
		text-indent: 5px;
		cursor: pointer;
		border-bottom: 1px solid #ccc;
	}
</style>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:url('order_list')}">列表</a></li>
			<li class="active"><a>查看</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form  margin-top-20" action="{:url('shipPost')}">
			<input type="hidden" name="id" value="{$id}">
			<fieldset>
			    
			    <div class="form-group">
		            <label for="input-order_sn" class="col-sm-2 control-label">订单编号</label>
		            <div class="col-md-6 col-sm-10">
						<input type="text" readonly name="order_sn" class="form-control valid" value="{$order['order_sn']|default=''}">
		            </div>
		        </div>
		        <div class="form-group">
		            <label for="input-add_time" class="col-sm-2 control-label">下单时间</label>
		            <div class="col-md-6 col-sm-10">
		                <input type="text" readonly name="add_time" class="form-control valid" value="{:date('Y-m-d H:i',$order['add_time'])}">
		            </div>
		        </div>
		        <div class="form-group">
		            <label for="input-address_name" class="col-sm-2 control-label">收货人</label>
		            <div class="col-md-6 col-sm-10">
		                <input type="text" readonly name="address_name" class="form-control valid" value="{$address['name']}">
		            </div>
		        </div>
		        <div class="form-group">
		            <label for="input-address_info" class="col-sm-2 control-label">收货地址</label>
		            <div class="col-md-6 col-sm-10">
		                <input type="text" readonly name="address_info" class="form-control valid" value="{$address['title']}">
		            </div>
		        </div>
		        <div class="form-group">
		            <label for="input-address_phone" class="col-sm-2 control-label">收货手机号码</label>
		            <div class="col-md-6 col-sm-10">
		                <input type="text" readonly name="address_phone" class="form-control valid" value="{$address['phone']}">
		            </div>
		        </div>

			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">物流公司</label>
		            <div class="col-md-6 col-sm-10 controls"  style="position: relative;">
						<input type="hidden" name="logistics_id" class="logistics_id form-control valid" value="{$order['logistics_id']|default=0}">
		                <input type="text" name="select_logistics" class="form-control valid"  id='select_logistics' value="{$order['logistics_name']|default=''}" placeholder="未发货">
		                <ul class="select_logistics_list form-control valid"></ul>
		            </div>
		        </div>
		        <div class="form-group">
		            <label for="input-shippingcode" class="col-sm-2 control-label">快递单号</label>
		            <div class="col-md-6 col-sm-10">
						<input type="text" name="shippingcode" class="form-control valid" value="{$order['shippingcode']}" placeholder="未发货">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">商品详情</label>
		            <div class="col-md-6 col-sm-10">
						<table width="100%">
							<tr><th>商品图片</th><th>商品名称</th><th>购买数量</th><th>发货联系人</th><th>发货联系方式</th></tr>
							<volist name="order_list" id="vo">
								<tr>
									<td><img src="{$vo['goodsimage']}" width="100px"></td>
									<td>{$vo['goodsname']}</td>
									<td>{$vo['goodsnum']}</td>
									<td>{$vo['vendor_person']}</td>
									<td>{$vo['vendor_tel']}</td>
								</tr>
							</volist>
						</table>
		            </div>
		        </div>

				
			</fieldset>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<empty name="order['logistics_id']">
						<button type="submit" class="btn btn-primary js-ajax-submit">发货</button>
					</empty>
					<a class="btn btn-default" href="{:url('lists')}">{:lang('BACK')}</a>
	            </div>
			</div>
		</form>
	</div>
	<script src="/static/js/admin.js"></script>
	<script type="text/javascript">
	var shop_logistics = {$shop_logistics};
	$('#select_logistics').on('click',function(){
		var html = '';
		for (var i = 0; i < shop_logistics.length; i++) 
		{
			html += '<li data-id='+shop_logistics[i].id+'>'+shop_logistics[i].name+'</li>';
		}
		$('.select_logistics_list').html(html);
		$('.select_logistics_list').show();
	});
	$(document).on('click', '.select_logistics_list li',function(){
		$('.logistics_id').val($(this).attr('data-id'));
		$('#select_logistics').val($(this).html());
		$('.select_logistics_list').hide();
	})
	$('#select_logistics').bind('input propertychange', function() {
		var val = $(this).val();
		var html = '';
		for (var i = 0; i < shop_logistics.length; i++) 
		{
			if(shop_logistics[i].name.indexOf(val) >= 0)
			{
				html += '<li data-id='+shop_logistics[i].id+'>'+shop_logistics[i].name+'</li>';
			}
		}
		$('.select_logistics_list').html(html);
	});
	</script>
</body>
</html>