<include file="public@header" />
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="{:url('FuliMarket/goods_list')}">福利商品管理</a></li>
			<li><a href="{:url('FuliMarket/goods_add')}">福利商品添加</a></li>
		</ul>
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th width="50">ID</th>
					<th>商品名称</th>
					<th>库存</th>
					<th>邀请人数</th>
					<th>添加时间</th>
					<th>店家联系人</th>
					<th>店家联系方式</th>
					<th width="140">{:lang('ACTIONS')}</th>
				</tr>
			</thead>
			<tbody>
				<php>$user_statuses=array("0"=>lang('USER_STATUS_BLOCKED'),"1"=>lang('USER_STATUS_ACTIVATED'),"2"=>lang('USER_STATUS_UNVERIFIED'));</php>
				<foreach name="lists" item="vo">
				<tr>
					<td>{$vo.id}</td>
					<td>
						{$vo.goods_name}
					</td>
					<td>
						{$vo.goods_storage}
					</td>
					<td>
						{$vo.goods_shared_num}
					</td>
					<td>
						{$vo.goods_add_time|date="Y-m-d H:i:s"}
					</td>
					<td>
						{$vo.vendor_person}
					</td>
					<td>
						{$vo.vendor_tel}
					</td>
					<td>
						<a class="btn btn-xs btn-primary" href='{:url("FuliMarket/goods_edit",array("id"=>$vo["id"]))}'>{:lang('EDIT')}</a>
						<a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('FuliMarket/goods_delete',array('id'=>$vo['id']))}">{:lang('DELETE')}</a>
					</td>
				</tr>
				</foreach>
			</tbody>
		</table>
		<div class="pagination">{$page}</div>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>