<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:url('FuliMarket/goods_list')}">福利商品管理</a></li>
			<li><a href="{:url('FuliMarket/goods_add')}">福利商品添加</a></li>
			<li class="active"><a>编辑</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form  margin-top-20" action="{:url('editPost')}">
			
			<fieldset>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">商品名称<span class="form-required">*</span></label>
		            <div class="col-md-6 col-sm-10">
		                <input type="text" name="goods_name" class="form-control valid" value="{$info['goods_name']}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">商品原价</label>
		            <div class="col-md-6 col-sm-10">
		                <input type="text" name="goods_price" class="form-control valid" value="{$info['goods_price']}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">邀请等级<span class="form-required">*</span></label>
		            <div class="col-md-6 col-sm-10">
				        <select class="form-control" name="level_id">
							<option value="">...</option>
				            <volist name="fuli_level" id="v">
				                <option value="{$v.level_id}" <if condition="$v['level_id'] eq $info['level_id']">selected</if> >{$v['level_name']}</option>
				            </volist>
						</select>
		            </div>
		        </div>
			    <!-- <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">邀请人数<span class="form-required">*</span></label>
		            <div class="col-md-6 col-sm-10">
						<input type="text" name="goods_shared_num" class="form-control valid" value="{$info['goods_shared_num']}">
		            </div>
		        </div> -->
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">库存<span class="form-required">*</span></label>
		            <div class="col-md-6 col-sm-10">
						<input type="text" name="goods_storage" class="form-control valid" value="{$info['goods_storage']}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">商品图片<span class="form-required">*</span></label>
		            <div class="col-md-6 col-sm-10">
						<input type="hidden" name="goods_image" id="thumbnail" value="{$info['goods_image']}">
	                    <a href="javascript:uploadOneImage('图片上传','#thumbnail');">
	                        <img src="{$info['goods_image']}"
	                                 id="thumbnail-preview"
	                                 style="cursor: pointer;max-width:100px;max-height:100px;"/>
	                    </a>
	                    <input type="button" class="btn btn-sm btn-cancel-thumbnail" value="取消图片">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">商品轮播图<span class="form-required">*</span></label>
		            <div class="col-md-6 col-sm-10">
                        <fieldset>
							<ul id="carousel" class="pic-list list-unstyled form-inline">
<volist name="info.carousel_url" id="vo">
	<li id="carousel-image{$key}">
        <input id="carousel-{$key}" type="hidden" name="carousel_url[]" value="{$vo['val']}">
        <input class="form-control" id="carousel-{$key}-name" type="text" name="carousel_names[]" value="{$info['carousel_names'][$key]}"
               style="width: 200px;" title="图片名称">
        <img id="carousel-{$key}-preview" src="{$vo['url']}" style="height:36px;width: 36px;"
             onclick="imagePreviewDialog(this.src);">
        <a href="javascript:uploadOneImage('图片上传','#carousel-{$key}');">替换</a>
        <a href="javascript:(function(){$('#carousel-image{$key}').remove();})();">移除</a>
    </li>
</volist>

							</ul>
						</fieldset>
						<a href="javascript:;" onclick="javascript:uploadMultiImageMerchant('图片上传','#carousel','carousel-item-tpl')" class="btn btn-small">选择图片</a>
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">商品详情</label>
		            <div class="col-md-6 col-sm-10">
                        <script type="text/plain" id="content" name="goods_body">{$info['goods_body']}</script>
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">商户发货人</label>
		            <div class="col-md-6 col-sm-10">
                        <input type="text" name="vendor_person" class="form-control valid" value="{$info['vendor_person']}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">商户发货人联系方式</label>
		            <div class="col-md-6 col-sm-10">
                        <input type="text" name="vendor_tel" class="form-control valid" value="{$info['vendor_tel']}">
		            </div>
		        </div>

			</fieldset>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<input type="hidden" name="id" value="{$info.id}">
					<button type="submit" class="btn btn-primary js-ajax-submit">{:lang('SAVE')}</button>
					<a class="btn btn-default" href="{:url('FuliMarket/goods_add')}">{:lang('BACK')}</a>
	            </div>
			</div>
		</form>
	</div>
	<script src="/static/js/admin.js"></script>

<script type="text/html" id="carousel-item-tpl">
    <li id="carousel-image{id}">
        <input id="carousel-{id}" type="hidden" name="carousel_url[]" value="{filepath}">
        <input class="form-control" id="carousel-{id}-name" type="text" name="carousel_names[]" value="{name}"
               style="width: 200px;" title="图片名称">
        <img id="carousel-{id}-preview" src="{url}" style="height:36px;width: 36px;"
             onclick="imagePreviewDialog(this.src);">
        <a href="javascript:uploadOneImage('图片上传','#carousel-{id}');">替换</a>
        <a href="javascript:(function(){$('#carousel-image{id}').remove();})();">移除</a>
    </li>
</script>

	<script type="text/javascript">
    //编辑器路径定义
    var editorURL = GV.WEB_ROOT;
	</script>
	<script type="text/javascript" src="__STATIC__/js/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" src="__STATIC__/js/ueditor/ueditor.all.min.js"></script>
	<script type="text/javascript">
	    $(function () {

	        editorcontent = new baidu.editor.ui.Editor();
	        editorcontent.render('content');
	        try {
	            editorcontent.sync();
	        } catch (err) {
	        }

	        $('#more-template-select').val('page');
	    });
	</script>
    <script>
        (function(){
            $('.btn-cancel-thumbnail').click(function () {
                $('#thumbnail-preview').attr('src', '__TMPL__/public/assets/images/default-thumbnail.png');
                $('#thumbnail').val('');
            });

        })()
    </script>
</body>
</html>