<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >列表</a></li>
            <li><a href="{:url('FuliMarket/level_add')}">{:lang('ADD')}</a></li>
		</ul>
		<form method="post" class="js-ajax-form" >
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>等级</th>
						<th>等级名称</th>
						<th>邀请人数</th>
						<th>发布时间</th>
						<th>{:lang('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="vo">
					<tr>
						<td>{$vo['id']}</td>
						<td>{$vo['level_id']}</td>
						<td>{$vo['level_name']}</td>
						<td>{$vo['goods_shared_num']}</td>
						<td>{:date('Y-m-d H:i',$vo['addtime'])}</td>
						<td>	                            
                            <a class="btn btn-xs btn-primary" href='{:url("FuliMarket/level_edit",array("id"=>$vo["id"]))}'>{:lang('EDIT')}</a>
							<a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('FuliMarket/level_del',array('id'=>$vo['id']))}">{:lang('DELETE')}</a>
                            
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>

		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>