<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li ><a href="{:url('FuliMarket/level')}">列表</a></li>
			<li class="active"><a >{:lang('ADD')}</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('FuliMarket/levelAddPost')}">

            <div class="form-group">
				<label for="input-level_id" class="col-sm-2 control-label"><span class="form-required">*</span>等级</label>
				<div class="col-md-6 col-sm-10">
					<input type="number" class="form-control" id="input-level_id" name="level_id">
				</div>
			</div>
            
            <div class="form-group">
				<label for="input-level_name" class="col-sm-2 control-label"><span class="form-required">*</span>等级名称</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" id="input-level_name" name="level_name">
				</div>
			</div>
            
            <div class="form-group">
				<label for="input-goods_shared_num" class="col-sm-2 control-label"><span class="form-required">*</span>等级邀请人数</label>
				<div class="col-md-6 col-sm-10">
					<input type="number" class="form-control" id="input-goods_shared_num" name="goods_shared_num" maxlength="9">
				</div>
			</div>
            
           
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary js-ajax-submit">{:lang('ADD')}</button>
					<a class="btn btn-default" href="javascript:history.back(-1);">{:lang('BACK')}</a>
				</div>
			</div>
            
		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>