<include file="public@header" />
<style>
li{
    list-style:none;
}
.js-ajax-form li 
{
	list-style:none;
	width:160px;
	height:335px;
	border: 1px solid #C2D1D8;
	float:left;
	margin:10px;			
}
.js-ajax-form li button
{
	margin-left:30px;
}
.js-ajax-form li span
{
	display:block;
	text-align:center
}
.js-ajax-form li .name
{
	width:157px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.full_btn
{
	float: left;
  height: 30px;
  padding: 0 18px;
  background: #1dccaa;
  border-radius: 4px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
}
.full_btn:hover
{
	background: #356f64;
	color: #fff;
	text-decoration:none;
}
</style>
</head>
<body>
	<script src="__STATIC__/js/admin.js"></script>
	<script src="__STATIC__/home/js/socket.io.js"></script>
	<script src="__STATIC__/xigua/xgplayer.js?t=1574906138" type="text/javascript"></script>
    <script src="__STATIC__/xigua/xgplayer-flv.js.js" type="text/javascript"></script>
    <script src="__STATIC__/xigua/xgplayer-hls.js.js" type="text/javascript"></script>
    <script src="__STATIC__/xigua/player.js" type="text/javascript"></script>
    
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >监控</a></li>
		</ul>
		<form method="post" class="js-ajax-form" >
            <ul>
                <foreach name="lists" item="v">
	    		<li class="mytd">
					<span>开播时长:<?php 
								$times = time()-$v['showid'];
								$result = '';
								$hour = floor($times/3600);
                                $minute = floor(($times-3600 * $hour)/60);
                                $second = floor((($times-3600 * $hour) - 60 * $minute) % 60);
                                $result = $hour.':'.$minute.':'.$second;
                                echo  $result;?>
                     </span>
                    <div  id="<?php echo $v['uid'];?>" style="width:160px;height:230px;"></div><br>
                    <span class="name">主播:<?php echo $v['userinfo']['user_nicename'];?></span>
                    <span>房间号:<?php echo $v['uid'];?></span>
                    <div style="text-align:center;">
                        <a  onclick="closeRoom('<?php echo $v['uid'];?>')" class="btn btn-xs btn-warning">关闭</a>
                        <!-- <a  onclick="fullRoom('<?php echo $v['uid'];?>')" class="full_btn mybtn">大屏</a> -->
                    </div>
                </li>
                <script type="text/javascript">
                    (function(){
                        xgPlay('{$v['uid']}','{$v['url']}');
                    })()
                </script>				
                </foreach>
            </ul>
			<div class="pagination"  style="clear:both">{$page}</div>
		</form>
	</div>

    <script type="text/javascript">
         var socket = new io("{$config['chatserver']}");
        function closeRoom(roomId){
          var data2 = {"token":"1234567","roomnum":roomId};
                $.ajax({
                    async: false,
                    url: '/admin/Monitor/stopRoom',
                    data:{uid:roomId},
                    dataType: "json",
                    success: function(data){
                        console.log(data);
                        if(data.status ==0){
                            alert(data.info);
                        }else{
                            socket.emit("superadminaction",data2);
                            alert("房间已关闭");
                            location.reload();
                        }
                    },
                    error:function(XMLHttpRequest, textStatus, errorThrown){
                        alert('关闭失败，请重试');
                    }
                });
            }
    </script>
</body>
</html>