<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >列表</a></li>
		</ul>
		<form class="well form-inline margin-top-20" method="post" action="{:url('turntable/index2')}">
            时间：
			<input class="form-control js-bootstrap-date" name="start_time" id="start_time" value="{:input('request.start_time')}" aria-invalid="false" style="width: 110px;"> - 
            <input class="form-control js-bootstrap-date" name="end_time" id="end_time" value="{:input('request.end_time')}" aria-invalid="false" style="width: 110px;">
			会员： 
            <input class="form-control" type="text" name="uid" style="width: 200px;" value="{:input('request.uid')}"
                   placeholder="请输入会员ID、靓号">
            主播： 
            <input class="form-control" type="text" name="liveuid" style="width: 200px;" value="{:input('request.liveuid')}"
                   placeholder="请输入主播ID、靓号">
            直播标识： 
            <input class="form-control" type="text" name="showid" style="width: 200px;" value="{:input('request.showid')}"
                   placeholder="请输入直播标识">
			<input type="submit" class="btn btn-primary" value="搜索">
            <br>
            <br>
            游戏次数：{$count}  
            <br>
            <br>
            总消费金额：{$total}
		</form>		
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
                        <th>会员 (ID)</th>
                        <th>主播 (ID)</th>
                        <th>直播标识</th>
						<th>价格</th>
						<th>次数</th>
						<th>中奖情况</th>
                        <th>时间</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="vo">
					<tr>
						<td>{$vo['userinfo']['user_nicename']} ({$vo['uid']})</td>
						<td>{$vo['liveuidinfo']['user_nicename']} ({$vo['liveuid']})</td>
                        <td>{$vo['showid']}</td>
                        <td>{$vo['coin']}</td>
						<td>{$vo['nums']}</td>
						<td>
                            <if condition="$vo['iswin'] eq 1">
                                <volist name="vo.winlist" id="v">
                                  {$type[$v['type']]}:  {$v['name']} X {$v['nums']} <br>
                                </volist>
                            <else/>
                                未中奖
                            </if>
                        </td>
                        <td>{:date('Y-m-d H:i:s',$vo['addtime'])}</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>

	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>