<include file="public@header" />
</head>
<body>
<div class="wrap">
	<ul class="nav nav-tabs">
		<li ><a href="{:url('Racelamp/index')}">直播间、视频间跑马灯列表</a></li>
		<li class="active"><a >添加跑马灯</a></li>
	</ul>
	<form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('Racelamp/addpost')}">

		<div class="form-group">
			<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>广告内容</label>
			<div class="col-md-6 col-sm-10">
				<input type="text" class="form-control" id="txt" name="txt">
			</div>
		</div>

		<div class="form-group">
			<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>跳转链接</label>
			<div class="col-md-6 col-sm-10">
				<input type="text" class="form-control" id="url" name="url">需要带http://...
			</div>
		</div>

		<div class="form-group">
			<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>跳转方式</label>
			<div class="col-md-6 col-sm-10">
				<input type="text" class="form-control" id="type" name="type">跳转方式：输入“1”跳转内部webview; “2”跳转系统浏览器
			</div>
		</div>

		<div class="form-group">
			<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>?携带参数</label>
			<div class="col-md-6 col-sm-10">
				<input type="text" class="form-control" id="if_uid" name="if_uid">是否携带uid和token  0不携带；1携带
			</div>
		</div>


<!--		<div class="form-group">-->
<!--			<label for="input-user_login" class="col-sm-2 control-label"><span class="form-required">*</span>图片</label>-->
<!--			<div class="col-md-6 col-sm-10">-->
<!--				<input type="hidden" name="thumb" id="thumbnail" value="">-->
<!--				<a href="javascript:uploadOneImage('图片上传','#thumbnail');">-->
<!--					<img src="__TMPL__/public/assets/images/default-thumbnail.png"-->
<!--						 id="thumbnail-preview"-->
<!--						 style="cursor: pointer;max-width:100px;max-height:100px;"/>-->
<!--				</a>-->
<!--				<input type="button" class="btn btn-sm btn-cancel-thumbnail" value="取消图片"> 图片尺寸： 50 X 50-->
<!--			</div>-->
<!--		</div>-->



		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary js-ajax-submit">{:lang('ADD')}</button>
				<a class="btn btn-default" href="javascript:history.back(-1);">{:lang('BACK')}</a>
			</div>
		</div>

	</form>
</div>
<script src="__STATIC__/js/admin.js"></script>
<script>
	(function(){
		$('.btn-cancel-thumbnail').click(function () {
			$('#thumbnail-preview').attr('src', '__TMPL__/public/assets/images/default-thumbnail.png');
			$('#thumbnail').val('');
		});

	})()
</script>
</body>
</html>