<include file="public@header" />
</head>
<body>
<div class="wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a href="{:url('racelamp/index')}">跑马灯列表</a></li>
        <li><a href="{:url('racelamp/add')}">添加跑马灯</a></li>
    </ul>
    <div>
        跳转方式：“1”跳转内部webview; “2”跳转系统浏览器<br>
        携带参数：是否携带uid和token 0不携带；1携带<br>

    </div>
    <table class="table table-hover table-bordered margin-top-20">
        <thead>
        <tr>
            <th width="50">ID</th>
            <th>跑马灯内容</th>
            <th>跳转链接</th>
            <th>跳转方式</th>
            <th>携带参数</th>
            <th width="160">{:lang('ACTIONS')}</th>
        </tr>
        </thead>

        <php>

        </php>

        <tbody>
        <foreach name="lists" item="vo">
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.txt}</td>
                <td>{$vo.url}</td>
                <td>
                    {$vo.type}
                </td>
                <td>{$vo.if_uid}</td>
                <td>


                    <a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('racelamp/delete',array('id'=>$vo['id']))}">{:lang('DELETE')}</a>
                </td>
            </tr>
        </foreach>
        </tbody>
    </table>
</div>
<script src="__STATIC__/js/admin.js"></script>
</body>
</html>