<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >列表</a></li>

		</ul>
		<form class="well form-inline margin-top-20" method="post" action="{:url('Feedback/index')}">
            状态：
			<select class="form-control" name="status">
				<option value="">全部</option>
                <volist name="status" id="v">
                    <option value="{$key}" <if condition="input('request.status') neq '' && input('request.status') eq $key">selected</if>>{$v}</option>
                </volist>
			</select>
			提交时间：
			<input class="form-control js-bootstrap-date" name="start_time" id="start_time" value="{:input('request.start_time')}" aria-invalid="false" style="width: 110px;"> - 
            <input class="form-control js-bootstrap-date" name="end_time" id="end_time" value="{:input('request.end_time')}" aria-invalid="false" style="width: 110px;">
			关键字： 
            <input class="form-control" type="text" name="uid" style="width: 200px;" value="{:input('request.uid')}"
                   placeholder="请输入会员ID、靓号">
			<input type="submit" class="btn btn-primary" value="搜索">
		</form>				
		<form method="post" class="js-ajax-form" >

		
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>会员</th>						
						<th>系统版本</th>
						<th>手机型号</th>
						<th width="50%">反馈信息</th>
						<th>图片</th>
						<th>状态</th>
						<th>提交时间</th>
						<th>处理时间</th>
						<th>{:lang('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="vo">
					<tr>
						<td>{$vo.id}</td>
						<td>{$vo['userinfo']['user_nicename']} ({$vo['uid']})</td>	
						<td>{$vo['version']}</td>
						<td>{$vo['model']}</td>				
						<td><?php echo nl2br($vo['content']);?></td>				
						<td>
                            <if condition="$vo['thumb']">
                                <img src="{$vo['thumb']}" style="max-width:100px;max-height:100px;">
                            </if>
                        </td>
						<td>{$status[$vo['status']]}</td>
						<td>{:date('Y-m-d H:i:s',$vo['addtime'])}</td>						
						<td>
						 <if condition="$vo['status'] eq '0'" >
						    处理中
						 <else/>
                            {:date('Y-m-d H:i:s',$vo['uptime'])}
						 </if>						
						 </td>

						<td>	
							<if condition="$vo['status'] eq '0'" >
                            <a class="btn btn-xs btn-danger js-ajax-dialog-btn" href="{:url('Feedback/setstatus',array('id'=>$vo['id']))}" >标记处理</a>
							</if>
							<a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('Feedback/del',array('id'=>$vo['id']))}">{:lang('DELETE')}</a>
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>

		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>