<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li ><a href="{:url('Chargerules/index')}">列表</a></li>
			<li class="active"><a >{:lang('ADD')}</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('Chargerules/addPost')}">

            <div class="form-group">
				<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>名称</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" id="input-name" name="name">
				</div>
			</div>
            
            <div class="form-group">
				<label for="input-money" class="col-sm-2 control-label"><span class="form-required">*</span>价格</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" id="input-money" name="money">
				</div>
			</div>
            
            <div class="form-group">
				<label for="input-coin" class="col-sm-2 control-label"><span class="form-required">*</span>钻石</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" id="input-coin" name="coin">
				</div>
			</div>
            
            <div class="form-group">
				<label for="input-coin_ios" class="col-sm-2 control-label"><span class="form-required">*</span>苹果支付钻石</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" id="input-coin_ios" name="coin_ios">
				</div>
			</div>
            
            <div class="form-group">
				<label for="input-product_id" class="col-sm-2 control-label"><span class="form-required">*</span>苹果项目ID</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" id="input-product_id" name="product_id">
				</div>
			</div>
            
            <div class="form-group">
				<label for="input-give" class="col-sm-2 control-label"><span class="form-required">*</span>赠送钻石</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" id="input-give" name="give">
				</div>
			</div>
            
            
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary js-ajax-submit">{:lang('ADD')}</button>
					<a class="btn btn-default" href="javascript:history.back(-1);">{:lang('BACK')}</a>
				</div>
			</div>
            
		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>