<include file="public@header" />
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="{:url('lists')}">列表</a></li>
		</ul>
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th width="50">ID</th>
					<th>标题</th>
					<th>点赞</th>
					<th>转发</th>
					<th>评论</th>
					<th>状态</th>
					<th>添加时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<foreach name="list" item="vo">
				<tr>
					<td>{$vo.id}</td>
					<td>{$vo.title}</td>
					<td>{$vo.likes}</td>
					<td>{$vo.forward}</td>
					<td>{$vo.comment}</td>
					<td>{$vo.statename}</td>
					<td>{$vo.addtime}</td>
					<td>
						<in name="vo['state']" value="0,2">
						<a class="btn btn-xs btn-danger js-ajax-dialog-btn" data-msg="您确定要通过吗？" href='{:url("status",array("id"=>$vo["id"], "state" => 1))}'>通过</a>
						</in>
						<in name="vo['state']" value="0,1">
						<a class="btn btn-xs btn-danger js-ajax-dialog-btn" data-msg="您确定要不通过吗？" href='{:url("status",array("id"=>$vo["id"], "state" => 2))}'>不通过</a>
						</in>
						<a class="btn btn-xs btn-primary" href="{:url('views', array('id'=>$vo['id']))}">查看</a>
						<a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('del', array('id'=>$vo['id']))}">删除</a>
					</td>
				</tr>
				</foreach>
			</tbody>
		</table>
		<div class="pagination">{$page}</div>
	</div>
	<script src="/static/js/admin.js"></script>
</body>
</html>