<include file="public@header" />
</head>
<style type="text/css">
	.controls tr td{
		text-align: center;
	}
</style>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:url('lists')}">列表</a></li>
			<li class="active"><a>查看</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form  margin-top-20" action="{:url('reply')}">
			<input type="hidden" name="id" value="{$info['id']}">
			<fieldset>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">标题</label>
		            <div class="col-md-6 col-sm-10">
						<input type="text" name="title" class="form-control valid" value="{$info['title']|default=""}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">点赞数</label>
		            <div class="col-md-6 col-sm-10">
						<input type="text" name="likes" class="form-control valid" value="{$info['likes']|default=""}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">转发</label>
		            <div class="col-md-6 col-sm-10">
						<input type="text" name="forward" class="form-control valid" value="{$info['forward']|default=""}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">评论</label>
		            <div class="col-md-6 col-sm-10">
						<input type="text" name="comment" class="form-control valid" value="{$info['comment']|default=""}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">文件</label>
		            <div class="col-md-6 col-sm-10">
						<volist name="info['flie']" id="vo">
						<a href="{$vo}" target="_blank">{$vo}</a>
						</volist>
		            </div>
		        </div>


				
				
			</fieldset>
		</form>
	</div>
	<script src="/static/js/admin.js"></script>
</body>
</html>