<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >列表</a></li>

		</ul>
		<form class="well form-inline margin-top-20" method="post" action="{:url('Shopgoods/index')}">
            价格：
            <input class="form-control" name="start_coin" id="start_coin" value="{:input('request.start_coin')}" style="width: 110px;"> - 
            <input class="form-control" name="end_coin" id="end_coin" value="{:input('request.end_coin')}" style="width: 110px;">
			提交时间：
			<input class="form-control js-bootstrap-date" name="start_time" id="start_time" value="{:input('request.start_time')}" aria-invalid="false" style="width: 110px;"> - 
            <input class="form-control js-bootstrap-date" name="end_time" id="end_time" value="{:input('request.end_time')}" aria-invalid="false" style="width: 110px;">
			用户： 
            <input class="form-control" type="text" name="uid" style="width: 200px;" value="{:input('request.uid')}"
                   placeholder="请输入会员ID、靓号">
            名称： 
            <input class="form-control" type="text" name="keyword" style="width: 200px;" value="{:input('request.keyword')}"
                   placeholder="请输入商品名称">
			<input type="submit" class="btn btn-primary" value="搜索">
		</form>				
		<form method="post" class="js-ajax-form" >

			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>会员</th>
						<th width="10%">名称</th>
						<th>封面</th>
						<th>原价</th>
						<th>现价</th>
						<th width="20%">描述</th>
						<th>类型</th>
						<th width="20%">链接</th>
						<th>状态</th>
						<th>提交时间</th>
						<th>{:lang('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="vo">
					<tr>
						<td>{$vo.id}</td>
						<td>{$vo['userinfo']['user_nicename']} ({$vo.uid}) </td>
						<td>{$vo['name']}</td>
						<td><img src="{$vo['thumb']}" style="width:100px;"></td>
						<td>{$vo['old_price']}</td>
						<td>{$vo['price']}</td>
						<td>{$vo['des']}</td>
						<td>{$type[$vo['type']]}</td>
						<td style="word-break: break-all;">{$vo['href']}</td>
                        <td>{$status[$vo['status']]}</td>
						<td>{:date('Y-m-d H:i:s',$vo['addtime'])}</td>
						<td>	
                            <if condition="$vo['status'] eq -2">
                            <a class="btn btn-xs btn-info js-ajax-dialog-btn" href="{:url('Shopgoods/setstatus',array('id'=>$vo['id'],'status'=>'1'))}" >取消下架</a>
                            <elseif condition="$vo['status'] eq 1"/>
                            <a class="btn btn-xs btn-info js-ajax-dialog-btn" href="{:url('Shopgoods/setstatus',array('id'=>$vo['id'],'status'=>'-2'))}" >下架</a>
                            </if>
                            <!-- <if condition="$vo['isrecom'] eq 1">
                            <a class="btn btn-xs btn-info js-ajax-dialog-btn" href="{:url('Shopgoods/setRecom',array('id'=>$vo['id'],'isrecom'=>'0'))}" >取消推荐</a>
                            <else/>
                            <a class="btn btn-xs btn-info js-ajax-dialog-btn" href="{:url('Shopgoods/setRecom',array('id'=>$vo['id'],'isrecom'=>'1'))}" >推荐</a>
                            </if> -->
                            <a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('Shopgoods/del',array('id'=>$vo['id']))}">{:lang('DELETE')}</a>
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>
		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>