<include file="public@header"/>
</head>
<body>
<div class="wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a href="{:url('Appraise/index')}">鉴定申请订单记录</a></li>
    </ul>
    <form class="well form-inline margin-top-20" method="post" action="{:url('Appraise/index')}">
        状态：
        <select class="form-control" name="status">
			<option value="">全部</option>
            <volist name="status" id="v">
                <option value="{$key}" <if condition="input('request.status') neq '' && input('request.status') eq $key">selected</if>>{$v['name']}</option>
            </volist>
		</select>
		提交时间：
		<input class="form-control js-bootstrap-date" name="start_time" id="start_time" value="{:input('request.start_time')}" aria-invalid="false" style="width: 110px;"> - 
        <input class="form-control js-bootstrap-date" name="end_time" id="end_time" value="{:input('request.end_time')}" aria-invalid="false" style="width: 110px;">
		订单号： 
        <input class="form-control" type="text" name="order_sn" style="width: 200px;" value="{:input('request.order_sn')}"
               placeholder="订单号">
		<input type="submit" class="btn btn-primary" value="搜索">
	</form>
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th width="50">ID</th>
            <th>订单编号</th>
            <th>订单金额</th>
            <th>专家可得金额</th>
            <th>支付方式</th>
            <th>订单状态</th>
            <th>下单时间</th>
            <th>支付时间</th>
            <th>鉴定时间</th>
            <th width="160">{:lang('ACTIONS')}</th>
        </tr>
        </thead>
        <tbody>
    	<if condition="!empty($lists)">
        <foreach name="lists" item="vo">
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.apply_order_sn}</td>
                <td>{$vo.appraise_fee}</td>
                <td>{$vo.expert_fee}</td>
                <td>{$vo.pay_type_name}</td>
                <td>{$vo.status_name}</td>
                <td>
                    <if condition="$vo['add_time']">    
                    {$vo.add_time|date="Y-m-d H:i:s"}
                    <else/>
                    -
                    </if>
                </td>
                    <td>
                    <if condition="$vo['pay_time']">    
                    {$vo.pay_time|date="Y-m-d H:i:s"}
                    <else/>
                    -
                    </if>
                </td>
                <td>
                    <if condition="$vo['over_time']">    
                    {$vo.over_time|date="Y-m-d H:i:s"}
                    <else/>
                    -
                    </if>
                </td>
                <td>
                    <a class="btn btn-xs btn-info" href="{:url('Appraise/info',array('id'=>$vo['id']))}">查看</a>
                </td>
            </tr>
        </foreach>		
    	</if>
        </tbody>
        <tfoot>
        	<div class="pagination">{$page}</div>
        </tfoot>
    </table>

</div>
<script src="__STATIC__/js/admin.js"></script>
</body>
</html>