<include file="public@header"/>
</head>
<body>
<div class="wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li><a href="{:url('Appraise/index')}">鉴定申请订单记录</a></li>
        <li class="active"><a>查看</a></li>
    </ul>
    <form method="post" class="form-horizontal js-ajax-form  margin-top-20">
        <fieldset> 
            <div class="form-group">
                <label for="input-remark" class="col-sm-2 control-label">发起鉴定的用户</label>
                <div class="col-md-6 col-sm-10" style="padding-top: 7px;">
                    {$order['user_nickname']|default=''}({$order['uid']|default=''})
                </div>
            </div>
            <div class="form-group">
                <label for="input-remark" class="col-sm-2 control-label">指定鉴定的专家</label>
                <div class="col-md-6 col-sm-10" style="padding-top: 7px;">
                    {$order['touser_nickname']|default=''} | {$order['touser_realname']|default=''}({$order['touid']|default=''})
                </div>
            </div>
            <div class="form-group">
                <label for="input-remark" class="col-sm-2 control-label">订单编号</label>
                <div class="col-md-6 col-sm-10" style="padding-top: 7px;">
                    {$order['apply_order_sn']|default=''}
                </div>
            </div>
            <div class="form-group">
                <label for="input-remark" class="col-sm-2 control-label">支付编号</label>
                <div class="col-md-6 col-sm-10" style="padding-top: 7px;">
                    {$order['pay_sn']|default=''}
                </div>
            </div>
            <div class="form-group">
                <label for="input-remark" class="col-sm-2 control-label">订单金额</label>
                <div class="col-md-6 col-sm-10" style="padding-top: 7px;">
                    {$order['appraise_fee']|default=''}
                </div>
            </div>
            <div class="form-group">
                <label for="input-remark" class="col-sm-2 control-label">专家获取金额</label>
                <div class="col-md-6 col-sm-10" style="padding-top: 7px;">
                    {$order['expert_fee']|default=''}
                </div>
            </div>
            <div class="form-group">
                <label for="input-remark" class="col-sm-2 control-label">状态</label>
                <div class="col-md-6 col-sm-10" style="padding-top: 7px;">
                    {$order['status_name']}
                </div>
            </div>
            <div class="form-group">
                <label for="input-remark" class="col-sm-2 control-label">支付方式</label>
                <div class="col-md-6 col-sm-10" style="padding-top: 7px;">
                    {$order['pay_type_name']|default=''}
                </div>
            </div>
            <div class="form-group">
                <label for="input-remark" class="col-sm-2 control-label">第三方流水单号</label>
                <div class="col-md-6 col-sm-10" style="padding-top: 7px;">
                    {$order['trade_no']|default=''}
                </div>
            </div>

            <div class="form-group">
                <label for="input-remark" class="col-sm-2 control-label">鉴定结果</label>
                <div class="col-md-6 col-sm-10" style="padding-top: 7px;">
                    {$order['answer_real_name']|default=''}
                </div>
            </div>
            <div class="form-group">
                <label for="input-remark" class="col-sm-2 control-label">鉴定答复语音</label>
                <div class="col-md-6 col-sm-10" style="padding-top: 7px;">
                    <if condition="$order['answer']">
                    <video controls="" autoplay="" name="media" style="width: 400px;height: 20px;">
                        <source src="{$order['answer']|default=''}" type="audio/mpeg">
                    </video>
                    <else/>
                    无
                    </if>
                </div>
            </div>

            <div class="form-group">
                <label for="input-remark" class="col-sm-2 control-label">创建时间</label>
                <div class="col-md-6 col-sm-10" style="padding-top: 7px;">
                    {$order['add_time']|default=''}
                </div>
            </div>
            <div class="form-group">
                <label for="input-remark" class="col-sm-2 control-label">支付时间</label>
                <div class="col-md-6 col-sm-10" style="padding-top: 7px;">
                    {$order['pay_time']|default=''}
                </div>
            </div>
            <div class="form-group">
                <label for="input-remark" class="col-sm-2 control-label">完成鉴定时间</label>
                <div class="col-md-6 col-sm-10" style="padding-top: 7px;">
                    {$order['over_time']|default=''}
                </div>
            </div>
            <div class="form-group">
                <label for="input-remark" class="col-sm-2 control-label">鉴定结果查看记录</label>
                <div class="col-md-12 col-sm-12" style="padding-top: 7px;">
                    <table width="100%">
                        <tr>
                            <th>订单ID</th>
                            <th>申请用户</th>
                            <th>订单编号</th>
                            <th>订单支付编号</th>
                            <th>支付状态</th>
                            <th>支付方式</th>
                            <th>支付金额</th>
                            <th>申请时间</th>
                            <th>支付时间</th>
                        </tr>
                        <volist name="answerViewList" id="vo">
                            <tr>
                                <td>
                                    {$vo.id}
                                </td>
                                <td>
                                    {$vo.user_nickname}({$vo.uid})
                                </td>
                                <td>
                                    {$vo.view_order_sn}
                                </td>
                                <td>
                                    {$vo.pay_sn}
                                </td>
                                <td>
                                    <if condition="$vo['pay_status'] == '1'">
                                        已付款
                                        <else/>
                                        待付款
                                    </if>
                                </td>
                                <td>
                                    {$vo.pay_type_name|default=''}
                                </td>
                                <td>
                                    {$vo.view_fee}
                                </td>
                                <td>
                                    {$vo.add_time|default=''}
                                </td>
                                <td>
                                    {$vo.pay_time|default=''}
                                </td>
                            </tr>
                        </volist>
                    </table>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<script src="__STATIC__/js/admin.js"></script>
</body>
</html>