<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:url('lists')}">列表</a></li>
			<li class="active"><a>查看</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form  margin-top-20" action="{:url('add_or_edit')}">
			<input type="hidden" name="id" value="{$id}">
			<fieldset>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">店铺名称</label>
		            <div class="col-md-6 col-sm-10">
		                <input type="text" name="name" class="form-control valid" value="{$info['name']|default=""}"<notempty name='id'>readonly</notempty>>
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">商品名称</label>
		            <div class="col-md-6 col-sm-10">
		                <input type="text" name="name" class="form-control valid" value="{$info['title']|default=""}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">商品描述</label>
		            <div class="col-md-6 col-sm-10">
		                <textarea name="description" class="form-control valid">{$info['description']|default=''}</textarea>
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">商品原价</label>
		            <div class="col-md-6 col-sm-10">
		                <input type="text" name="name" class="form-control valid" value="{$info['original_price']|default=0}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">商品现价</label>
		            <div class="col-md-6 col-sm-10">
						<input type="text" name="name" class="form-control valid" value="{$info['price']|default=0}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">库存</label>
		            <div class="col-md-6 col-sm-10">
						<input type="text" name="name" class="form-control valid" value="{$info['amount']|default=0}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">商品图片</label>
		            <div class="col-md-6 col-sm-10">
						<a href="{$info['img']|default=""}" target="_blank"><img src="{$info['img']|default=""}"  style="max-width:200px;"></a>
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">商品轮播</label>
		            <div class="col-md-6 col-sm-10">
						<present name="info['carousel']">
							<volist name="info['carousel']" id="vo" >
							<a href="{$vo|default=""}" target="_blank"><img src="{$vo|default=""}"  style="max-width:200px;"></a>
							</volist>
						</present>
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">商品详情</label>
		            <div class="col-md-6 col-sm-10">
						<present name="info['text']">
							<volist name="info['text']" id="vo" >
							<a href="{$vo|default=""}" target="_blank"><img src="{$vo|default=""}"  style="max-width:200px;"></a>
							</volist>
						</present>
		            </div>
		        </div>

			</fieldset>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a class="btn btn-xs btn-danger js-ajax-dialog-btn" data-msg="您确定要通过吗？" href="{:url('status',array('id'=>$id, 'state' => 1))}">通过</a>
				<a class="btn btn-xs btn-danger js-ajax-dialog-btn" data-msg="您确定要取消吗？" href="{:url('status',array('id'=>$id, 'state' => 2))}">取消</a>
	            </div>
			</div>
		</form>
	</div>
	<script src="/static/js/admin.js"></script>
</body>
</html>