<include file="public@header" />
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="{:url('lists')}">列表</a></li>
		</ul>
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th width="50">ID</th>
					<th>用户</th>
					<th>订单编号</th>
					<th>评价星级</th>
					<th>评价内容</th>
					<th>添加时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<foreach name="list" item="vo">
				<tr>
					<td>{$vo.id}</td>
					<td>{$vo.user_nicename}</td>
					<td>{$vo.numbering}</td>
					<td>{$vo.rating}</td>
					<td>{$vo.content}</td>
					<td>{$vo.addtime}</td>
					<td>
						<a class="btn btn-xs btn-primary" href="{:url('views', array('id'=>$vo['id']))}">查看</a>
						<a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('del', array('id'=>$vo['id']))}">删除</a>
					</td>
				</tr>
				</foreach>
			</tbody>
		</table>
		<div class="pagination">{$page}</div>
	</div>
	<script src="/static/js/admin.js"></script>
</body>
</html>