<include file="public@header" />
</head>
<style type="text/css">
	.controls tr td{
		text-align: center;
	}
</style>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:url('lists')}">列表</a></li>
			<li class="active"><a>查看</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form  margin-top-20" action="{:url('reply')}">
			<input type="hidden" name="id" value="{$info['id']}">
			<fieldset>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">用户</label>
		            <div class="col-md-6 col-sm-10">
						<input type="text" name="numbering" class="form-control valid" value="{$info['user_nicename']|default=""}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">订单编号</label>
		            <div class="col-md-6 col-sm-10">
						<input type="text" name="numbering" class="form-control valid" value="{$info['numbering']|default=""}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">评价星级</label>
		            <div class="col-md-6 col-sm-10">
						<input type="text" name="numbering" class="form-control valid" value="{$info['rating']|default=""}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">评价内容</label>
		            <div class="col-md-6 col-sm-10">
						<textarea class="form-control valid">{$info['content']|default=""}</textarea>
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">评价图片</label>
		            <div class="col-md-6 col-sm-10">
						<volist name="info['img']" id="vo">
							<a href="{$vo}" target="_blank">{$vo}</a><br/>
						</volist>
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">添加时间</label>
		            <div class="col-md-6 col-sm-10">
						{$info['addtime']|default=""}
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">回复内容</label>
		            <div class="col-md-6 col-sm-10">
						<textarea class="form-control valid">{$info['reply_content']|default=""}</textarea>
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">回复时间</label>
		            <div class="col-md-6 col-sm-10">
						{$info['reply_time']|default=""}
		            </div>
		        </div>



				
			</fieldset>
		</form>
	</div>
	<script src="/static/js/admin.js"></script>
</body>
</html>