<include file="public@header" />
<link href="__STATIC__/css/admin_index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="content">
        <div class="content_title">
            实时统计
        </div>
        <div class="statistics basic">
            <div class="title">基本指标</div>
            <div class="bd">
                <div class="bd_title">
                    <input type="hidden" class="action" value='1'>
                    <div class="dropdown">
                        <div class="dropdown_input"  data-type="1">
                            今日
                        </div>
                        <div class="dropdown_list">
                            <ul>
                                <li data-type="1">今日</li>
                                <li data-type="2">昨日</li>
                                <li data-type="3">近7日</li>
                                <li data-type="4">近30日</li>
                            </ul>
                        </div>
                    </div>
                    <div class="data_select">
                        <input type="text" name="start_time" class="form-control js-bootstrap-date" value="" style="width: 80px;display:inline-block;" autocomplete="off">-
                        <input type="text" class="form-control js-bootstrap-date" name="end_time" value="" style="width: 80px;display:inline-block;" autocomplete="off">
                    </div>
                    <div class="search">
                        查询
                    </div>
                    <div class="export">
                        导出
                    </div>
                </div>
                <div class="basic_list clear">
                    <ul>
                        <li class="active on" data-type="1">
                            <div class="basic_list_t">新增用户</div>
                            <div class="basic_list_n"><span>{$basic_today['newUsers']}</span></div>
                        </li>
                        <li class="active" data-type="2">
                            <div class="basic_list_t">APP启动次数</div>
                            <div class="basic_list_n"><span>{$basic_today['launches']}</span></div>
                        </li>
                        
                        <li class="active" data-type="4">
                            <div class="basic_list_t">活跃用户数</div>
                            <div class="basic_list_n"><span>{$basic_today['activityUsers']}</span></div>
                        </li>
                        <li class="active" data-type="3">
                            <div class="basic_list_t">平均使用时长</div>
                            <div class="basic_list_n"><span>0</span>分钟</div>
                        </li>
                        
                        <!-- <li class="active" data-type="5">
                            <div class="basic_list_t">留存用户数</div>
                            <div class="basic_list_n">{$basic_today['launches']}</div>
                        </li> -->
                        <li>
                            <div class="basic_list_t">总注册数</div>
                            <div class="basic_list_n"><span>{$users_total}</span></div>
                        </li>
                    </ul>
                </div>
                <div id="echarts_basic" style="width:100%;height:300px;"></div>
            </div>
        </div>
        <div class="statistics w50 mr10 source">
            <div class="title">设备终端</div>
            <div class="bd">
                <div id="echarts_source" style="width:100%;height:300px;"></div>
            </div>
        </div>
        <div class="statistics w50 reg">
            <div class="title">注册渠道</div>
            <div class="bd">
                <div id="echarts_reg" style="width:100%;height:300px;"></div>
            </div>
        </div>
<!--         <div class="statistics clear users">
            <div class="title">用户画像</div>
            <div class="bd">
                <div class="bd_title">
                    <div class="users_tab clear">
                        <ul>
                            <li class="on">新增用户</li>
                            <li>活跃用户</li>
                            <li>启动次数</li>
                        </ul>
                    </div>
                    <input type="hidden" class="action" value='2'>
                    <div class="search">
                        查询
                    </div>
                    <div class="data_select">
                        <input type="text" name="start_time" class="js-date date" value="" style="width: 80px;" autocomplete="off">-
                        <input type="text" class="js-date date" name="end_time" value="" style="width: 80px;" autocomplete="off">
                    </div>
                    <div class="dropdown">
                        <div class="dropdown_input" data-type="1">
                            今日
                        </div>
                        <div class="dropdown_list">
                            <ul>
                                <li data-type="1">今日</li>
                                <li data-type="2">昨日</li>
                                <li data-type="3">近7日</li>
                                <li data-type="4">近30日</li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
                <div id="echarts_users" style="width:100%;height:300px;"></div>
            </div>
        </div> -->
        <div class="statistics w33 mr10 anchor">
            <div class="title">主播数据</div>
            <div class="bd">
                <div class="bd_title">
                    <input type="hidden" class="action" value='3'>
                    <div class="dropdown">
                        <div class="dropdown_input" data-type="1">
                            今日
                        </div>
                        <div class="dropdown_list">
                            <ul>
                                <li data-type="1">今日</li>
                                <li data-type="2">昨日</li>
                                <li data-type="3">近7日</li>
                                <li data-type="4">近30日</li>
                            </ul>
                        </div>
                    </div>
                    <div class="data_select">
                        <input type="text" name="start_time" class="form-control js-bootstrap-date" value="" style="width: 80px;display:inline-block;" autocomplete="off">-
                        <input type="text" class="form-control js-bootstrap-date" name="end_time" value="" style="width: 80px;display:inline-block;" autocomplete="off">
                        
                    </div>
                    <div class="search">
                        查询
                    </div>
                    <div class="export">
                        导出
                    </div>
                </div>
                <div class="data_list">
                    <ul>
                        <li>
                            <div class="data_list_left">主播总数</div>
                            <div class="data_list_right">{:number_format($anchor['anchor_total'])}位</div>
                        </li>
                        <li>
                            <div class="data_list_left">在线主播</div>
                            <div class="data_list_right">{:number_format($anchor['anchor_online'])}位</div>
                        </li>
                        <li>
                            <div class="data_list_left">直播次数</div>
                            <div class="data_list_right"><span id="anchor_live_today">{$anchor['anchor_live_today']}</span>次</div>
                        </li>
                        <li>
                            <div class="data_list_left">直播时长</div>
                            <div class="data_list_right"><span id="anchor_live_long_today">{$anchor['anchor_live_long_today']}</span>分钟</div>
                        </li>
                        <li class="last">
                            <div class="data_list_left">总直播时长</div>
                            <div class="data_list_right">{$anchor['anchor_live_long_total']}分钟</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="statistics w33 mr10 votestotal">
            <div class="title">网红榜</div>
            <div class="bd">
                <div class="list">
                    <ul>
                        <volist name="votes_list" id="v">
                        <li>
                            <img class="list_order" src="__STATIC__/images/{$i}.png">
                            <img class="list_avatar" src="{$v['avatar']}">
                            <div class="list_info">
                                <p class="list_name">{$v['user_nicename']}</p>
                                <p>累计收益<span>{:number_format($v['votestotal'])}</span>{$config['name_votes']}</p>
                            </div>
                        </li>
                        </volist>
                    </ul>
                </div>
            </div>
        </div>
        <div class="statistics w33 rich">
            <div class="title">富豪榜</div>
            <div class="bd">
                <div class="list">
                    <ul>
                        <volist name="rich_list" id="v">
                        <li>
                            <img class="list_order" src="__STATIC__/images/{$i}.png">
                            <img class="list_avatar" src="{$v['avatar']}">
                            <div class="list_info">
                                <p class="list_name">{$v['user_nicename']}</p>
                                <p>累计送出<span>{:number_format($v['consumption'])}<span>{$config['name_coin']}</p>
                            </div>
                        </li>
                        </volist>
                    </ul>
                </div>
            </div>
        </div>
        <div class="statistics clear charge">
            <div class="title">财务</div>
            <div class="bd">
                <div class="bd_title">
                    <input type="hidden" class="action" value='4'>
                    <div class="dropdown">
                        <div class="dropdown_input" data-type="1">
                            今日
                        </div>
                        <div class="dropdown_list">
                            <ul>
                                <li data-type="1">今日</li>
                                <li data-type="2">昨日</li>
                                <li data-type="3">近7日</li>
                                <li data-type="4">近30日</li>
                            </ul>
                        </div>
                    </div>
                    <div class="data_select">
                        <input type="text" name="start_time" class="form-control js-bootstrap-date" value="" style="width: 80px;display:inline-block;" autocomplete="off">-
                        <input type="text" class="form-control js-bootstrap-date" name="end_time" value="" style="width: 80px;display:inline-block;" autocomplete="off">
                    </div>
                    <div class="search">
                        查询
                    </div>
                    <div class="export">
                        导出
                    </div>
                    <div class="charge_total">
                        历史总收益
                        <span>{$charge_total} 元</span>
                    </div>
                </div>
                <div id="echarts_charge" style="width:100%;height:400px;"></div>
            </div>
        </div>
        <div class="statistics cash">
            <div class="title">提现</div>
            <div class="bd">
                <div class="bd_title">
                    <input type="hidden" class="action" value='5'>
                    <div class="dropdown">
                        <div class="dropdown_input" data-type="1">
                            今日
                        </div>
                        <div class="dropdown_list">
                            <ul>
                                <li data-type="1">今日</li>
                                <li data-type="2">昨日</li>
                                <li data-type="3">近7日</li>
                                <li data-type="4">近30日</li>
                            </ul>
                        </div>
                    </div>
                    <div class="data_select">
                        <input type="text" name="start_time" class="form-control js-bootstrap-date" value="" style="width: 80px;display:inline-block;" autocomplete="off">-
                        <input type="text" class="form-control js-bootstrap-date" name="end_time" value="" style="width: 80px;display:inline-block;" autocomplete="off">
                    </div>
                    <div class="search">
                        查询
                    </div>
                    <div class="export">
                        导出
                    </div>
                </div>
                <div class="cash_list clear">
                    <ul>
                        <li>
                            <div class="cash_list_t">申请提现金额</div>
                            <div class="cash_list_m"><span id="cash_apply">{$cashinfo['cash_apply']}</span> 元</div>
                            <div class="cash_list_h">
                                <!-- <a>查看列表</a> -->
                            </div>
                        </li>
                        <li>
                            <div class="cash_list_t">已通过金额</div>
                            <div class="cash_list_m"><span id="cash_adopt">{$cashinfo['cash_adopt']}</span> 元</div>
                            <div class="cash_list_h">
                                <!-- <a>查看列表</a> -->
                            </div>
                        </li>
                        <li>
                            <div class="cash_list_t">主播提现数量</div>
                            <div class="cash_list_m"><span id="cash_anchor">{$cashinfo['cash_anchor']}</span> 位</div>
                            <div class="cash_list_h">
                                <!-- <a>查看列表</a> -->
                            </div>
                        </li>
                        <li class="last">
                            <div class="cash_list_t">总提现金额</div>
                            <div class="cash_list_m">{$cash_total} 元</div>
                            <div class="cash_list_h"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
	<script src="__STATIC__/js/admin.js"></script>
	<script src="__STATIC__/js/echarts/echarts.min.js"></script>
    <script>
        var users_total='{$users_total}';
        var data_basic={$data_basicj};
        var data_source={$data_sourcej};
        var data_charge={$data_chargej};
        var data_type={$data_typej};
    </script>
    <script src="__STATIC__/js/admin_index.js"></script>
</body>
</html>