<include file="public@header" />
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="{:url('lists')}">列表</a></li>
		</ul>
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th width="50">ID</th>
					<th>店铺名称</th>
					<th>收款方</th>
					<th>提现用户名</th>
					<th>提现账户</th>
					<th>提现金额</th>
					<th>状态</th>
					<th>申请时间</th>
					<th width="150">操作</th>
				</tr>
			</thead>
			<tbody>
				<foreach name="list" item="vo">
				<tr>
					<td>{$vo.id}</td>
					<td>{$vo.shopname}</td>
					<td>{$vo.typename}</td>
					<td>{$vo.name}</td>
					<td>{$vo.account}</td>
					<td>{$vo.amount}</td>
					<td>{$vo.statename}</td>
					<td>{$vo.addtime}</td>
					<td>
						<eq name="vo['state']" value="0">
							<if condition="$vo['payToThirdFlag']">
							<a class="btn btn-xs btn-primary js-ajax-dialog-btn" href="{:url('make_money',array('id'=>$vo['id'], 'type' => 3))}" data-msg="您确定要确认打款吗？">付款至零钱</a>
							<else/>
							<a class="btn btn-xs btn-primary js-ajax-dialog-btn" href="{:url('make_money',array('id'=>$vo['id'], 'type' => 1))}" data-msg="您确定要确认打款吗？">确认打款</a>
							</if>
							<a class="btn btn-xs btn-primary js-ajax-dialog-btn" href="{:url('make_money',array('id'=>$vo['id'], 'type' => 2))}" data-msg="您确定要取消打款吗？">取消打款</a>
						</eq>
					</td>
				</tr>
				</foreach>
			</tbody>
		</table>
		<div class="pagination">{$page}</div>
	</div>
	<script src="/static/js/admin.js"></script>
</body>
</html>