<include file="public@header" />
</head>
<body>
<div class="wrap">
	<ul class="nav nav-tabs">
		<li ><a href="{:url('advideo/index')}">广告视频列表</a></li>
		<li class="active"><a >添加广告视频</a></li>

	</ul>
	<form method="post" class="form-horizontal js-ajax-form margin-top-20" action="{:url('advideo/addpost')}">

		<div class="form-group">
			<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>用户id</label>
			<div class="col-md-6 col-sm-10">
				<input type="text" class="form-control" id="uid" name="uid">
			</div>
		</div>
		
		<div class="form-group">
			<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>标题</label>
			<div class="col-md-6 col-sm-10">
				<input type="text" class="form-control" id="title" name="title">
			</div>
		</div>
		
		<div class="form-group">
			<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>视频封面</label>
			<div class="col-md-6 col-sm-10">
				<input type="text" class="form-control" id="thumb" name="thumb">把图片上传到云存储填写链接即可
			</div>
		</div>
		
		
		<div class="form-group">
			<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>视频地址</label>
			<div class="col-md-6 col-sm-10">
				<input type="text" class="form-control" id="href" name="href">把视频上传到云存储填写链接即可
			</div>
		</div>


		
		
		<div class="form-group">
			<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>虚拟展示量</label>
			<div class="col-md-6 col-sm-10">
				<input type="text" class="form-control" id="views" name="views">
			</div>
		</div>
		
		
		<div class="form-group">
			<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>虚拟点赞量</label>
			<div class="col-md-6 col-sm-10">
				<input type="text" class="form-control" id="likes" name="likes">
			</div>
		</div>


		<div class="form-group">
			<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>虚拟评论数</label>
			<div class="col-md-6 col-sm-10">
				<input type="text" class="form-control" id="comments" name="likes">
			</div>
		</div>

		<div class="form-group">
			<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>虚拟分享数</label>
			<div class="col-md-6 col-sm-10">
				<input type="text" class="form-control" id="shares" name="shares">
			</div>
		</div>

		<div class="form-group">
			<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>是否立即展示</label>
			<div class="col-md-6 col-sm-10">
				<input type="text" class="form-control" id="status" name="status">立即展示输入“1”
			</div>
		</div>


		<div class="form-group">
			<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>广告权重值</label>
			<div class="col-md-6 col-sm-10">
				<input type="text" class="form-control" id="orderno" name="orderno">数字越大排名越靠前
			</div>
		</div>

		<div class="form-group">
			<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>跳转链接</label>
			<div class="col-md-6 col-sm-10">
				<input type="text" class="form-control" id="ad_url" name="ad_url">
			</div>
		</div>


		<div class="form-group">
			<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>跳转方式</label>
			<div class="col-md-6 col-sm-10">
				<input type="text" class="form-control" id="ad_type" name="ad_type">跳转方式：输入“1”跳转内部webview; “2”跳转系统浏览器
			</div>
		</div>

		<div class="form-group">
			<label for="input-name" class="col-sm-2 control-label"><span class="form-required">*</span>请确认是否是视频广告</label>
			<div class="col-md-6 col-sm-10">
				<input type="text" class="form-control" id="is_ad" name="is_ad">  确认是请输入“1”，否请输入“0”
			</div>
		</div>

<!--		<div class="fo