<include file="public@header" />
</head>
<body>
<div class="wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a href="{:url('notice/index')}">广告视频列表</a></li>
        <li><a href="{:url('advideo/add')}">添加广告视频</a></li>
    </ul>
    <table class="table table-hover table-bordered margin-top-20">
        <thead>
        <tr>
            <th width="50">ID</th>
            <th>用户id</th>
            <th>标题</th>
            <th>封面图片</th>
            <th>视频地址</th>
            <th>展示量</th>
            <th>点赞量</th>
            <th>评论量</th>
            <th>分享量</th>
            <th>广告外链</th>
            <th>打开方式</th>
            <th width="160">{:lang('ACTIONS')}</th>
        </tr>
        </thead>

        <php>

        </php>

        <tbody>
        <foreach name="lists" item="vo">
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.uid}</td>
                <td>{$vo.title}</td>
                <td><img width="70" height="120" src="{$vo['thumb']}" /></td>
                <td><a href ="{$vo.href}" target="_blank">查看视频</a></td>
                <td>
                    {$vo.views}
                </td>
                <td>{$vo.likes}</td>
                <td>{$vo.comments}</td>
                <td>{$vo.shares}</td>
                <td>{$vo.ad_url}</td>
                <td>{$vo.ad_type}</td>
                <td>


                    <a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('gameclass/delete',array('id'=>$vo['id']))}">{:lang('DELETE')}</a>
                </td>
            </tr>
        </foreach>
        </tbody>
    </table>
</div>
<script src="__STATIC__/js/admin.js"></script>
</body>
</html>