<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:url('bankcard')}">列表</a></li>
			<li class="active"><a>添加</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form  margin-top-20" action="{:url('addbank')}">
			<input type="hidden" name="id" value="{$info['id']|default=0}">
			<fieldset>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">分类</label>
		            <div class="col-md-6 col-sm-10">
		                <select name="type" class="form-control valid">
							<option value="1" <eq name="info['type']" value="1">selected</eq>>支付宝</option>
							<option value="2" <eq name="info['type']" value="2">selected</eq>>微信</option>
							<option value="3" <eq name="info['type']" value="3">selected</eq>>银行卡</option>
		                </select>
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">银行名称</label>
		            <div class="col-md-6 col-sm-10">
		                <input class="form-control valid" type="text" name="account_bank" value="{$info['account_bank']|default=""}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">姓名</label>
		            <div class="col-md-6 col-sm-10">
		                <input class="form-control valid" type="text" name="name" value="{$info['name']|default=''}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">账号</label>
		            <div class="col-md-6 col-sm-10">
		                <input class="form-control valid" type="text" name="account" value="{$info['account']|default=''}">
		            </div>
		        </div>

			</fieldset>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary js-ajax-submit">{:lang('ADD')}</button>
					<a class="btn btn-default" href="{:url('bankcard')}">{:lang('BACK')}</a>
	            </div>
			</div>
		</form>
	</div>
	<script src="/static/js/admin.js"></script>
	<script type="text/javascript">
        (function(){
            $('.btn-cancel-img').click(function () {
                $('#img-preview').attr('src', '__TMPL__/public/assets/images/default-thumbnail.png');
                $('#img').val('');
            });
        })()

    </script>
</body>
</html>