<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:url('withdraw')}">列表</a></li>
			<li class="active"><a>添加</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form  margin-top-20" action="{:url('addwithdraw')}">
			<input type="hidden" name="id" value="{$info['id']|default=0}">
			<fieldset>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">提现账户</label>
		            <div class="col-md-6 col-sm-10">
		                <select class="form-control valid" name="account_id">
							<volist name="account_list" id="vo">
								<option value="{$vo.id}" <eq name="vo['id']" value="$info['account_id']"></eq>>{$vo.name}({$vo.typename})</option>
							</volist>
		                </select>
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">提现金额</label>
		            <div class="col-md-6 col-sm-10">
		                <input class="form-control valid" type="text" name="amount" value="{$info['amount']|default=""}">
		                <span class="form-required">可提现金额：{$balance}元，最低提现金额：{$cash_min}元</span>
		            </div>
		        </div>
			</fieldset>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary js-ajax-submit">{:lang('ADD')}</button>
					<a class="btn btn-default" href="{:url('withdraw')}">{:lang('BACK')}</a>
	            </div>
			</div>
		</form>
	</div>
	<script src="/static/js/admin.js"></script>
	<script type="text/javascript">
        (function(){
            $('.btn-cancel-img').click(function () {
                $('#img-preview').attr('src', '__TMPL__/public/assets/images/default-thumbnail.png');
                $('#img').val('');
            });
        })()

    </script>
</body>
</html>