<include file="public@header" />
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="{:url('bankcard')}">列表</a></li>
			<li><a href="{:url('addbank')}">添加</a></li>
		</ul>
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th width="50">ID</th>
					<th>账户类型</th>
					<th>姓名</th>
					<th>账号</th>
					<th width="150">操作</th>
				</tr>
			</thead>
			<tbody>
				<foreach name="list" item="vo">
				<tr>
					<td>{$vo.id}</td>
					<td>{$vo.typename}</td>
					<td>{$vo.name}<eq name="vo['type']" value="3">({$vo.account_bank})</eq></td>
					<td>{$vo.account}</td>
					<td>
						<a class="btn btn-xs btn-primary" href='{:url("addbank",array("id"=>$vo["id"]))}'>编辑</a>
						<a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('del',array('id'=>$vo['id']))}">删除</a>
					</td>
				</tr>
				</foreach>
			</tbody>
		</table>
		<div class="pagination">{$page}</div>
	</div>
	<script src="/static/js/admin.js"></script>
	<script src="/static/js/laydate/laydate.js"></script>
</body>
</html>