<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<form method="post" class="form-horizontal js-ajax-form  margin-top-20" action="{:url('info')}">
			<input type="hidden" name="id" value="{$info['id']}">
			<fieldset>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">店铺名称</label>
		            <div class="col-md-6 col-sm-10">
		                <input type="text" name="name" value="{$info['name']|default=""}" class="form-control" readonly>
		            </div>
		        </div>

		        <div class="form-group">
					<label for="input-avatar_thumb" class="col-sm-2 control-label"><span class="form-required">*</span>店铺头像</label>
					<div class="col-md-6 col-sm-10">
	                    <input type="hidden" name="shop_img" id="shop_img" value="{$info['shop_img']|default=''}">
	                    <a href="javascript:uploadOneImage('图片上传','#shop_img');">
	                        <img src="{$info['shop_img']|default='/default_thumb.jpg'}" id="shop_img-preview" style="cursor: pointer;max-width:100px;max-height:100px;"/>
	                    </a>
	                    <input type="button" class="btn btn-sm btn-cancel-img" value="取消图片">
					</div>
				</div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">店铺描述</label>
		            <div class="col-md-6 col-sm-10">
		                <textarea name="description" class="form-control">{$info['description']|default=""}</textarea>
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">余额</label>
		            <div class="col-md-6 col-sm-10">
		                {$info['balance']|default=""}元
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">冻结余额</label>
		            <div class="col-md-6 col-sm-10">
		                {$info['balance_freeze']|default=""}元
		                <span class="form-required">冻结余额不能提现</span>
		            </div>
		        </div>



			</fieldset>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary js-ajax-submit">编辑</button>
	            </div>
			</div>
		</form>
	</div>
	<script src="/static/js/admin.js"></script>
	<script type="text/javascript">
        (function(){
            $('.btn-cancel-img').click(function () {
                $('#img-preview').attr('src', '__TMPL__/public/assets/images/default-thumbnail.png');
                $('#img').val('');
            });
        })()

    </script>
</body>
</html>