<include file="public@header" />
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="{:url('withdraw')}">提现列表</a></li>
			<li><a href="{:url('addwithdraw')}">申请提现</a></li>
		</ul>
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th width="50">ID</th>
					<th>账户类型</th>
					<th>姓名</th>
					<th>账号</th>
					<th>提现金额</th>
					<th>申请时间</th>
					<th>审核时间</th>
					<th>状态</th>
				</tr>
			</thead>
			<tbody>
				<foreach name="list" item="vo">
				<tr>
					<td>{$vo.id}</td>
					<td>{$vo.typename}</td>
					<td>{$vo.name}<eq name="vo['type']" value="3">({$vo.account_bank})</eq></td>
					<td>{$vo.account}</td>
					<td>{$vo.amount}元</td>
					<td>{$vo.addtime}</td>
					<td>{$vo.checktime}</td>
					<td>{$vo.statename}</td>
				</tr>
				</foreach>
			</tbody>
		</table>
		<div class="pagination">{$page}</div>
	</div>
	<script src="/static/js/admin.js"></script>
	<script src="/static/js/laydate/laydate.js"></script>
</body>
</html>