<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >列表</a></li>
			<li><a href="{:url('Liveing/add')}">{:lang('ADD')}</a></li>
		</ul>
		
		<form class="well form-inline margin-top-20" method="post" action="{:url('Liveing/index')}">
			时间：
			<input class="form-control js-bootstrap-date" name="start_time" id="start_time" value="{:input('request.start_time')}" aria-invalid="false" style="width: 110px;"> - 
            <input class="form-control js-bootstrap-date" name="end_time" id="end_time" value="{:input('request.end_time')}" aria-invalid="false" style="width: 110px;">
	        首页推荐：
	        <select class="form-control" name="is_home">
	            <option value="">全部</option>
	                <option value="1" <if condition="input('request.is_home') neq '' && input('request.is_home') eq 1">selected</if>>是</option>
	                <option value="0" <if condition="input('request.is_home') neq '' && input('request.is_home') eq 0">selected</if>>否</option>
	        </select>
			关键字：
            <input class="form-control" type="text" name="uid" style="width: 200px;" value="{:input('request.uid')}"
                   placeholder="请输入会员ID、靓号">
			<input type="submit" class="btn btn-primary" value="搜索">
		</form>		
		<form method="post" class="js-ajax-form" >
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>会员ID</th>
						<th>会员昵称</th>
						<th>直播ID</th>
						<th>直播开始时间</th>
						<th>直播分类</th>
						<th>房间类型</th>
						<th>密码/价格</th>
						<th>视频类型</th>
						<th>在线人数</th>
						<th>本场收益</th>
						<th>打赏人数</th>
						<th>人均打赏</th>
						<th>播流地址</th>
						<th>设备信息</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="vo">
					<tr>
						<td>{$vo.uid}</td>					
						<td>{$vo['userinfo']['user_nicename']} </td>
						<td>{$vo['showid']}</td>
						<td>{:date('Y-m-d H:i',$vo['starttime'])}</td>
						<td><if condition="isset($liveclass[$vo['liveclassid']])">{$liveclass[$vo['liveclassid']]}<else/>分类错误</if></td>
						<td>{$type[$vo['type']]}</td>
						<td>{$vo['type_val']}</td>
						<td><if condition="$vo['anyway'] eq 0">竖屏<else/>横屏</if></td>
                        <td>{$vo['nums']}</td>
                        <td>{$vo['totalcoin']}</td>
                        <td>{$vo['total_nums']}</td>
                        <td>{$vo['total_average']}</td>
                        <td>{$vo['pull']}</td>
                        <td>{$vo['deviceinfo']}</td>
						<td>
                            <if condition="$vo['isvideo']==1">
                            <a class="btn btn-xs btn-primary" href='{:url("Liveing/edit",array("uid"=>$vo["uid"]))}'>{:lang('EDIT')}</a>
							<a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('Liveing/del',array('uid'=>$vo['uid']))}">{:lang('DELETE')}</a>
							
                            </if>

	                        <if condition="$vo.is_home eq '1'">
	                            <a class="btn btn-xs btn-info js-ajax-dialog-btn"
	                                   href="{:url('Liveing/recommend',array('uid'=>$vo['uid'],'type'=>0))}">取消推荐至首页</a>
	                        <else/>
	                            <a class="btn btn-xs btn-info js-ajax-dialog-btn"
	                                   href="{:url('Liveing/recommend',array('uid'=>$vo['uid'],'type'=>1))}">推荐至首页</a>
	                        </if>
						</td>
						
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>

		</form>
	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>