<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a >列表</a></li>
			<li ><a href="{:url('Loginbonus/index2')}">记录</a></li>
		</ul>

			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>登录天数</th>
						<th>奖励{$configpub['name_coin']}</th>
						<th>{:lang('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="vo">
					<tr>
						<td>{$vo.id}</td>
						<td>{$vo['day']}</td>
						<td>{$vo['coin']}</td>
						<td>
                            <a class="btn btn-xs btn-primary" href='{:url("Loginbonus/edit",array("id"=>$vo["id"]))}'>{:lang('EDIT')}</a>
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>

	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>