<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:url('Loginbonus/index')}">列表</a></li>
			<li class="active"><a >记录</a></li>
		</ul>
		<form class="well form-inline margin-top-20" method="post" action="{:url('Loginbonus/index2')}">
			会员： 
            <input class="form-control" type="text" name="uid" style="width: 200px;" value="{:input('request.uid')}"
                   placeholder="请输入会员ID">
			<input type="submit" class="btn btn-primary" value="搜索">
		</form>		
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
                        <th>会员 (ID)</th>
						<th>登录天数</th>
						<th>奖励{$configpub['name_coin']}</th>
                        <th>时间</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="lists" item="vo">
					<tr>
						<td>{$vo['userinfo']['user_nicename']} ({$vo['uid']})</td>
						<td>{$vo['name']}</td>
						<td>{$vo['totalcoin']}</td>
                        <td>{:date('Y-m-d H:i:s',$vo['addtime'])}</td>
					</tr>
					</foreach>
				</tbody>
			</table>
			<div class="pagination">{$page}</div>

	</div>
	<script src="__STATIC__/js/admin.js"></script>
</body>
</html>