<include file="public@header" />
</head>
<style type="text/css">
	.controls tr td{
		text-align: center;
	}
</style>

<script type="text/html" id="carousel-item-tpl">
    <li id="carousel-image{id}">
        <input id="carousel-{id}" type="hidden" name="carousel_url[]" value="{filepath}">
        <input class="form-control" id="carousel-{id}-name" type="text" name="carousel_names[]" value="{name}"
               style="width: 200px;" title="图片名称">
        <img id="carousel-{id}-preview" src="{url}" style="height:36px;width: 36px;"
             onclick="imagePreviewDialog(this.src);">
        <a href="javascript:uploadOneImage('图片上传','#carousel-{id}');">替换</a>
        <a href="javascript:(function(){$('#carousel-image{id}').remove();})();">移除</a>
    </li>
</script>
<script type="text/html" id="text-item-tpl">
    <li id="text-image{id}">
        <input id="text-{id}" type="hidden" name="text_url[]" value="{filepath}">
        <input class="form-control" id="text-{id}-name" type="text" name="text_names[]" value="{name}"
               style="width: 200px;" title="图片名称">
        <img id="text-{id}-preview" src="{url}" style="height:36px;width: 36px;"
             onclick="imagePreviewDialog(this.src);">
        <a href="javascript:uploadOneImage('图片上传','#text-{id}');">替换</a>
        <a href="javascript:(function(){$('#text-image{id}').remove();})();">移除</a>
    </li>
</script>
<body>
	<div class="wrap">
		<form method="post" class="form-horizontal js-ajax-form  margin-top-20" action="{:url('add')}">
			<fieldset>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">商品名称<span class="form-required">*</span></label>
		            <div class="col-md-6 col-sm-10">
						<input type="text" name="title" class="form-control valid" value="{$info['title']|default=""}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">商品描述</label>
		            <div class="col-md-6 col-sm-10">
						<textarea name="description" class="form-control valid">{$info['description']|default=""}</textarea>
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">商品原价<span class="form-required">*</span></label>
		            <div class="col-md-6 col-sm-10">
						<input type="text" name="original_price" class="form-control valid" value="{$info['original_price']|default=""}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">商品现价<span class="form-required">*</span></label>
		            <div class="col-md-6 col-sm-10">
						<input type="text" name="price" class="form-control valid" value="{$info['price']|default=""}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">库存<span class="form-required">*</span></label>
		            <div class="col-md-6 col-sm-10">
						<input type="text" name="amount" class="form-control valid" value="{$info['amount']|default=""}">
		            </div>
		        </div>
		        <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">是否包邮</label>
		            <div class="col-md-6 col-sm-10">
						<select name="is_logistic" class="form-control valid">
							<option value="0">包邮</option>
							<option value="1">不包邮</option>
						</select>
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">商品分类</label>
		            <div class="col-md-6 col-sm-10">
						<select name="assort_id" class="form-control valid">
							<volist name="assort" id="vo">
								<option value="{$vo.id}">{$vo.name}</option>
							</volist>
						</select>
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">轮播图</label>
		            <div class="col-md-6 col-sm-10">
                        <fieldset>
							<legend>轮播图列表</legend>
							<ul id="carousel" class="pic-list list-unstyled form-inline"></ul>
						</fieldset>
						<a href="javascript:;" onclick="javascript:uploadMultiImageMerchant('图片上传','#carousel','carousel-item-tpl')" class="btn btn-small">选择图片</a>
		            </div>
		        </div>
			    <div class="form-group">
		            <label for="input-remark" class="col-sm-2 control-label">轮播图</label>
		            <div class="col-md-6 col-sm-10">
                        <fieldset>
							<legend>商品详情列表</legend>
							<ul id="text" class="pic-list list-unstyled form-inline"></ul>
						</fieldset>
						<a href="javascript:;" onclick="javascript:uploadMultiImageMerchant('图片上传','#text','text-item-tpl')" class="btn btn-small">选择图片</a>
		            </div>
		        </div>
			</fieldset>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary js-ajax-submit">{:lang('ADD')}</button>
	            </div>
			</div>
		</form>
	</div>
	<script src="/static/js/admin.js"></script>
	<script type="text/javascript" src="__STATIC__/js/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" src="__STATIC__/js/ueditor/ueditor.all.min.js"></script>
</body>
</html>