<include file="public@header" />
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="{:url('index')}">商品列表</a></li>
		</ul>
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th width="50">ID</th>
					<th>商品名称</th>
					<th>商品图片</th>
					<th>商品原价</th>
					<th>商品现价</th>
					<th>库存</th>
					<th>销量</th>
					<th>状态</th>
					<th>添加时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<foreach name="list" item="vo">
				<tr>
					<td>{$vo.id}</td>
					<td>{$vo.title}</td>
					<td><a href="{$vo.img}" target="_blank"><img src="{$vo.img}" width="100px"></a></td>
					<td>{$vo.original_price}</td>
					<td>{$vo.price}</td>
					<td>{$vo.amount}</td>
					<td>{$vo.sales}</td>
					<td>{$vo.statename}</td>
					<td>{$vo.addtime}</td>
					<td>
						<a class="btn btn-xs btn-primary" href="{:url('edit',array('id'=>$vo['id']))}" >查看/编辑</a>
						<a class="btn btn-xs btn-danger js-ajax-delete" href="{:url('del',array('id'=>$vo['id']))}" >删除</a>
						<in name="vo['state']" value="0,1">
						<a class="btn btn-xs btn-primary js-ajax-dialog-btn" href="{:url('status',array('state'=>2,'id'=>$vo['id']))}" >下架</a>
						<else />
						<a class="btn btn-xs btn-primary js-ajax-dialog-btn" href="{:url('status',array('state'=>0,'id'=>$vo['id']))}" >上架</a>

						</in>
					</td>
				</tr>
				</foreach>
			</tbody>
		</table>
		<div class="pagination">{$page}</div>
	</div>
	<script src="/static/js/admin.js"></script>
</body>
</html>